<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div class="about-single">
	<div class="top-tight-banner">
		<ul class="bxslider">
			<li><img src="<?php echo $this->getSkinUrl('images/about-single.jpg') ?>" alt="" class="base_img"></li>
			<li><img src="<?php echo $this->getSkinUrl('images/about-single.jpg') ?>" alt="" class="base_img"></li>
			<li><img src="<?php echo $this->getSkinUrl('images/about-single.jpg') ?>" alt="" class="base_img"></li>
		</ul>
	</div>
	<div class="middle-single">
		<h1>Kate Humble</h1>
		<p>Deep in the depths of the Welsh greenery, two Indigo colleagues scour the countryside in the hope of catching a glimpse of a wonderfully wild yet compassionate character. We discover a secret and secluded stone manor at the top of the steep landscape. Surrounded by geese, hens, donkeys and playing pooch, ‘Badger’ keeping guard, who inhabits this fine piece of architecture…Kate Humble of course!!</p>
		<p>Last year Kate ordered with Indigo and received her Chunky Square Arm sofas, single Loft Beds, a couple cube bedsides and an Oak Block coffee table; just in time for Christmas! Kate was so impressed with Indigo that she has now ordered an Outdoor Oak Table and benches to enjoy the summer sun in her glorious garden.</p>
		<p>Kate and Indigo have remained firm friends as we hope to join forces on future projects and work closely with Kate and her charities.</p>
		<p>For further information on Kate Humbles’ charities please visit <a href="#" class="web">www.katehumble.com</a></p>
	</div>

		<ul id="single-gallery">
			<li>
				<a href="<?php echo $this->getSkinUrl('images/about-single-1.jpg') ?>">
					<img src="<?php echo $this->getSkinUrl('images/about-single-1.jpg') ?>" alt="">
				</a>
			</li>			
			<li>
				<a href="<?php echo $this->getSkinUrl('images/about-single-2.jpg') ?>">
					<img src="<?php echo $this->getSkinUrl('images/about-single-2.jpg') ?>" alt="">
				</a>
			</li>			
			<li>
				<a href="<?php echo $this->getSkinUrl('images/about-single-3.jpg') ?>">
					<img src="<?php echo $this->getSkinUrl('images/about-single-3.jpg') ?>" alt="">
				</a>
			</li>			
			<li>
				<a href="<?php echo $this->getSkinUrl('images/about-single-4.jpg') ?>">
					<img src="<?php echo $this->getSkinUrl('images/about-single-4.jpg') ?>" alt="">
				</a>
			</li>			
			<li>
				<a href="<?php echo $this->getSkinUrl('images/about-single-5.jpg') ?>">
					<img src="<?php echo $this->getSkinUrl('images/about-single-5.jpg') ?>" alt="">
				</a>
			</li>			
			<li>
				<a href="<?php echo $this->getSkinUrl('images/about-single-6.jpg') ?>">
					<img src="<?php echo $this->getSkinUrl('images/about-single-6.jpg') ?>" alt="">
				</a>
			</li>			
			<li>
				<a href="<?php echo $this->getSkinUrl('images/about-single-7.jpg') ?>">
					<img src="<?php echo $this->getSkinUrl('images/about-single-7.jpg') ?>" alt="">
				</a>
			</li>


		</ul>
</div><!-- about-single -->
<script>
document.getElementById('single-gallery').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
