<div class="full-screen-banner">
    <img src="<?php echo $this->getSkinUrl('images/about-list.jpg') ?>" alt="" class="base_img"/>
    <div class="text-wrapper">
        <div class="text">
            <h1>Famous Friends</h1>
            <p class="center">Actors, TV Presenters, Singers and even a Vet! Meet our Celebrity Customers and enjoy a sneaky peek at what they bought from us.</p>
        </div>
    </div>
</div>
<div class="cms-listing">
	<ul>
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/bed-about-list-1.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>		
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/table-about-list-2.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>		
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/salon-about-list-3.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>		
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/shelves-about-list-4.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>		
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/bed-about-list-1.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>		
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/table-about-list-2.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>		
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/salon-about-list-3.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>		
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/shelves-about-list-4.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>
				<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/bed-about-list-1.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>		
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/table-about-list-2.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>		
		<li>
			<a href="#" class="product-image"><img src="<?php echo $this->getSkinUrl('images/salon-about-list-3.jpg') ?>" alt=""></a>
			<div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="#">Jessica Ennis-Hill</a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div>
		</li>	
	</ul>
</div>