<?php
/*
 * 1.left-product
 * 2.right-product
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
<?php echo $this->getBlockHtml('formkey') ?>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
<div id="product-wrapper">
    <div id="left-product">
        <?php echo $this->getChildHtml('media') ?>
        <div class="social">
            <ul>
                <li>
                    <div class="fb-like" data-href="<?php echo $_product->getProductUrl(); ?>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button"></a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
                <li><!-- Place this tag in your head or just before your close body tag. -->
                    <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>

                    <!-- Place this tag where you want the +1 button to render. -->
                    <div class="g-plusone" data-size="medium"></div></li>
            </ul>
        </div>
        <?php echo $this->getChildHtml('other-options') ?>
        <a href="#" class="create-the-look"><?php echo $this->__('Create The Block') ?><i>+</i></a>
        <!-- /.create-the-look -->
    </div>
    <!-- /#left-product -->
    <div id="right-product">
        <h1 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
        <?php if ($_product->getDescription()):?>
            <div class="product-description">
                <?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?>
            </div>
        <?php endif;?>

        <div class="its-all-in-the-detail">
            <p class="title"><?php echo $this->__('it’s all in the detail') ?></p>
            <ul>
                <li><a href="#">Crafted in Slow Growing Pine <i class="fa fa-angle-right"></i></a></li>
                <li><a href="#">Hand Finished with Beeswax <i class="fa fa-angle-right"></i></a></li>
                <li><a href="#">15 Year Guarantee <i class="fa fa-angle-right"></i></a></li>
                <li><a href="#">Breaks Down for Delivery <i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
        <!-- /.its-all-in-the-detail -->
        <?php echo $this->getChildHtml('choose-your-size') ?>
        <!-- /.choose-your-size -->
        <div class="buttons">
            <button class="button"><span><span><?php echo $this->__('Other Options') ?></span></span></button>
            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product); ?>" class="a-button white"><?php echo $this->__('Save For Later') ?></a>
            <?php /*?><button class="button"><span><span><?php echo $this->__('Add To Cart') ?></span></span></button><?php */?>
            <?php echo $this->getPriceHtml($_product, true) ?>
            <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">
                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
                    <?php endif; ?>
                </div>
                <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php elseif (!$_product->isSaleable()): ?>
                <div class="add-to-box">
                    <?php echo $this->getChildHtml('addto') ?>
                </div>
            <?php endif; ?>
        </div>
        <!-- /.buttons -->
        <?php echo $this->getChildHtml('product-extra') ?>
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
        <?php endif;?>
        <div class="clearer"></div>
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php endif;?>
            
    </div>
    <!-- /#right-product -->
    
    <?php echo $this->getChildHtml('its-all-detail') ?>
    <?php echo $this->getChildHtml('product-support') ?>
    <?php echo $this->getChildHtml('related_products') ?>
</div>
<!-- /#product-wrapper -->
</form>
<script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>