<?php
/*
*Created by juno
*/
?>
<?php /** @var $this Mage_Sales_Block_Order_Info */ ?>
<?php $_order = $this->getOrder() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h1><?php echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $_order->getStatusLabel()) ?></h1>
</div>
<div class="col-main">
    <div class="hatton-form padding-bottom1">
        <div class="margin1 margin-bottom2"><?php echo $this->getStatusHistoryRssUrl($_order) ?>
            <p class="order-date"><?php echo $this->__('Order Date: %s', $this->formatDate($_order->getCreatedAtStoreDate(), 'long')) ?></p>
            <?php if (!$_order->getIsVirtual()): ?>
                <div class="col2-set order-info-box">
                    <div class="col-1">
                        <div class="box">
                            <div class="box-title">
                                <h3><?php echo $this->__('Shipping Address') ?></h3>
                            </div>
                            <div class="box-content">
                                <address><?php echo $_order->getShippingAddress()->format('html') ?></address>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="box">
                            <div class="box-title">
                                <h3><?php echo $this->__('Shipping Method') ?></h3>
                            </div>
                            <div class="box-content">
                                <?php if ($_order->getShippingDescription()): ?>
                                    <?php echo $this->escapeHtml($_order->getShippingDescription()) ?>
                                <?php else: ?>
                                    <p><?php echo $this->helper('sales')->__('No shipping information available'); ?></p>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <div class="col2-set order-info-box margin-top3">
                <div class="col-1">
                    <div class="box">
                        <div class="box-title">
                            <h3><?php echo $this->__('Billing Address') ?></h3>
                        </div>
                        <div class="box-content">
                            <address><?php echo $_order->getBillingAddress()->format('html') ?></address>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="box box-payment">
                        <div class="box-title">
                            <h3><?php echo $this->__('Payment Method') ?></h3>
                        </div>
                        <div class="box-content">
                            <?php echo $this->getPaymentInfoHtml() ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

