<?php if($this->getCollection()->getSize()): ?>
<?php if($this->getUseContainer()): ?>

<div class="press-page-pagination">
  <?php endif ?>
  <?php if($this->getLastPageNum()>1): ?>
  <div class="press-pagination-wrap"> <span> <?php echo $this->__('Page:') ?> </span>
        <?php if (!$this->isFirstPage()): ?>
     <a class="previous<?php if(!$this->getAnchorTextForPrevious()): ?> i-previous<?php endif;?>" href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo $this->__('Previous') ?>">
        <?php if(!$this->getAnchorTextForPrevious()): ?> Prev <?php else: ?> Prev<?php endif;?>
        </a> 
        
      <?php endif;?> 
       <ul class="press-pagination-button">

      <?php if ($this->canShowFirst()): ?>
      <li><a class="first" href="<?php echo $this->getFirstPageUrl() ?>">1</a></li>
      <?php endif;?>
      <?php if ($this->canShowPreviousJump()): ?>
      <li><a class="previous_jump" title="" href="<?php echo $this->getPreviousJumpUrl() ?>">...</a></li>
      <?php endif;?>
      <?php foreach ($this->getFramePages() as $_page): ?>
      <?php if ($this->isPageCurrent($_page)): ?>
      <li><a class="active"><?php echo $_page ?></a></li>
      <?php else: ?>
      <li><a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a></li>
      <?php endif;?>
      <?php endforeach;?>
      <?php if ($this->canShowNextJump()): ?>
      <li><a class="next_jump" title="" href="<?php echo $this->getNextJumpUrl() ?>">...</a></li>
      <?php endif;?>
      <?php if ($this->canShowLast()): ?>
      <li><a class="last" href="<?php echo $this->getLastPageUrl() ?>"><?php echo $this->getLastPageNum() ?></a></li>
      <?php endif;?>
    </ul>
    <?php if (!$this->isLastPage()): ?>
    <a class="next<?php if(!$this->getAnchorTextForNext()): ?> i-next<?php endif; ?>" href="<?php echo $this->getNextPageUrl() ?>" title="<?php echo $this->__('Next') ?>">
    <?php if(!$this->getAnchorTextForNext()): ?>Next<?php else: ?> Next <?php endif;?>
    </a>
    <?php endif;?>
  </div>
  <?php endif; ?>
  <?php if($this->getUseContainer()): ?>
</div>
<?php endif ?>
<?php endif ?>