<div class="press-page">
			<h1 class="title-press-page"><?php echo $this->__('Indigo in the press');?></h1>
			<p class="des-press-page">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit quam ac pulvinar dapibus. Nullam posuere nisi eget tempor ultricies. 
			</p>	
             <?php echo $this->getMessagesBlock()->getGroupedHtml()?>
			 <?php $collection = $this->getCollection();?>
             <?php if(count($collection)):?>   
			<div class="press-page-wrap">
			         <?php $i=0;?>
   					 <?php foreach ($collection as $_obj):?>    
                			<div class="press-page-item">                                   
                                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'press/' . $_obj['picture']?>" alt="<?php echo htmlentities($_obj['content_heading']) ?>" />
                                    <a href="<?php echo $this->getUrl('profile/index/view/') ?><?php echo 'id/'.$_obj['profile_id'] ?>" class="link-press-item">
                                    <?php echo htmlentities($_obj['content_heading'])?> 
                                    </a>
                                    <p class="calendar-press-item"><?php echo date('F Y', strtotime($_obj['date']));?> </p>
                                    <p class="caption-press-item"><?php echo $_obj['content']?> </p>
							</div>
				       <?php endforeach;?>
			</div><!-- end press page wrap -->
              <?php endif;?>
			<?php echo  $this->getPagerHtml();?>
    	</div>