<?php $content = $this -> getContent(); 

//echo '<pre>';
//print_r($content->getData());
?>
<div class="breadcrumbs">
    <ul>
        <li class="home">
        	<span><a title="Go to Home Page" href="<?php echo $this->getUrl('')?>">Home</a></span>
		</li>
        <li class="last">
        	<span>Press</span>
    	</li>
	</ul>
</div>
<div id="press-wrapper">
<div id="press-main" class="press-content">
	<h2 class="heading"><?php echo htmlentities($content['content_heading'])?></h2>
	<div id="press-detail">
		<div class="left-content">
			<img width="342px" height="440px" id="image" alt="" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['picture']?>" />
		</div>
	
		<div class="right-content">			
	
			<h3><?php echo date('F Y', strtotime($content['date']));?></h3>
	
			<div class="description">
				<p><?php echo $content['content']?></p>
			</div>		
	
			<div class="more-view">
				<a class="go-back" href="<?php echo $this->getUrl('pressarticles') ?>">Go Back</a>
	
				<ul>
					<?php if($content['picture']){ ?>
					<li>
	                <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['picture']?>" title="" onclick="$('image').src = this.href; return false;">
	                <img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) .$content['picture']?>" />
	                </a></li>
					<?php } ?>
	
					<?php if($content['picturetwo']){ ?>
					<li>
	                 <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['picturetwo']?>" title="" onclick="$('image').src = this.href; return false;">
	                <img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['picturetwo']?>" />
	                </a></li>
					<?php } ?>
					
	                <?php if($content['picturethree']){ ?>
					<li>
	                <a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['picturethree']?>" title="" onclick="$('image').src = this.href; return false;"><img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'100x100_' .$content['picturethree']?>" /></a></li>
					<?php } ?>              
	
	                <?php if($content['picturefour']){ ?>
					<li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['picturefour']?>" title="" onclick="$('image').src = this.href; return false;"><img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'100x100_' .$content['picturefour']?>" /></a></li>
					<?php } ?>                
	
	                <?php if($content['picturefive']){ ?>
					<li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['picturefive']?>" title="" onclick="$('image').src = this.href; return false;"><img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'100x100_' .$content['picturefive']?>" /></a></li>
					<?php } ?>                
	
	                <?php if($content['picturesix']){ ?>
					<li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['picturesix']?>" title="" onclick="$('image').src = this.href; return false;"><img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'100x100_' .$content['picturesix']?>" /></a></li>
					<?php } ?>
	
	                <?php if($content['pictureseven']){ ?>
					<li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['pictureseven']?>" title="" onclick="$('image').src = this.href; return false;"><img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'100x100_' .$content['pictureseven']?>" /></a></li>
					<?php } ?>
	
	                <?php if($content['pictureeight']){ ?>
					<li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['pictureeight']?>" title="" onclick="$('image').src = this.href; return false;"><img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'100x100_' .$content['pictureeight']?>" /></a></li>
					<?php } ?>
	
	                <?php if($content['picturenine']){ ?>
					<li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['picturenine']?>" title="" onclick="$('image').src = this.href; return false;"><img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'100x100_' .$content['picturenine']?>" /></a></li>
					<?php } ?>
	
	                <?php if($content['pictureten']){ ?>
					<li><a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$content['pictureten']?>" title="" onclick="$('image').src = this.href; return false;"><img  alt="" width="78" height="100" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'100x100_' .$content['pictureten']?>" /></a></li>
					<?php } ?>
	
				</ul>
			</div>
		</div>
	</div>	
</div>
</div>

