@media all and (max-width: 768px){
.page-404 { width:90% !important;}
.page-404 .a-button-grey, .page-404 .a-button { float: none;}
.page-404 .a-button-grey { margin-right: 0 !important;}
}
header .top-links-container .top-links .right-links ul li { float: left; margin-left: 17px; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; position:relative; }

#cartdrop {
    display: none;
    padding-top: 11px;
    position: absolute;
    right: 0;
    top:12px;
    width: 350px;
    z-index: 9999;
}

#cartdrop:after {
    top:-3px;
    right: 47px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 7px;
    margin-left: -7px;
}

#cartdrop .cartinner {
    background:#fff;
}

#cartdrop .cartinner h3, #cartdrop .cartinner h3 a  {
    font: 12px/1em 'Proxima N W15 Reg',Arial,sans-serif;
    letter-spacing: 0.125em;
    margin: 0;
    padding: 8px 14px 2px;
    text-transform: uppercase;
    color:#071727;
}

#cartdrop .cartinner .block-content .empty {
    padding:0;font-size: 11px;
}
#cartdrop .cartinner .block-content {
    overflow: hidden;
    padding: 0 14px;
}
#cartdrop .cartinner .mini-products-list li {
    background: none;
    position: relative;
    width: 100%;box-sizing: border-box;border-bottom: 1px solid #d7d8d9;margin:0 0 13px 0;padding-bottom: 13px;
}
#cartdrop .cartinner .mini-products-list li:nth-child(1n) {margin-top: 13px}
#cartdrop .cartinner .mini-products-list .product-image {
    border: 0 none;
    margin: 0;
    width: 82px;
}
.mini-products-list .product-image {
    float: left;
    margin-right: -50px;
    width: 50px;
}

#cartdrop .cartinner .mini-products-list .product-image img {
    display: block;
}

#cartdrop .cartinner .mini-products-list .product-details {
    font: 11px/1em 'Proxima N W15 Reg',Arial,sans-serif;
    margin-left: 92px;
    text-transform: uppercase;
	color: #071727;
}

#cartdrop .cartinner .mini-products-list .product-details p {text-transform: none;font-size: 12px;}

#cartdrop .cartinner .mini-products-list h4 {
    font: 11px/1em 'BaskervilleMTW01-Roman','Times New Roman',serif;
    letter-spacing: 0.125em;
    margin-bottom: 3px;
	margin-top: 0;
    text-transform: uppercase;
}
#cartdrop .cartinner .mini-products-list .price {font: 11px/1em 'Proxima N W15 Reg',Arial,sans-serif;}
#cartdrop .cartinner .mini-products-list h4 a {
    display: block;
    text-decoration: none;
	color: #071727;
}
#cartdrop .cartinner .mini-products-list .btn-remove {
    background: url("../images/ico-remove.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    font-size: 0;
    height: 9px;
    line-height: 0;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 9px;
}

#cartdrop .cartinner .mini-products-list .item-options {
    letter-spacing: 2px;
    overflow: hidden;
	margin: 7px 0;
}

#cartdrop .cartinner .mini-products-list .item-options dt {
    clear: left;
    float: left;
    padding: 0;
}

#cartdrop .cartinner .mini-products-list .item-options dd {
    float: left;
    padding: 0;
}

#cartdrop .cartinner .mini-products-list p {
    letter-spacing: 0.125em;
    margin: 0;
    padding: 3px 0;
}

#cartdrop .cartinner .actions {
    margin: 0 14px 0;
    padding: 0 0 15px;overflow: hidden;
}

#cartdrop .cartinner .actions p {
    font: 14px/1em 'Proxima N W15 Reg',Arial,sans-serif;
    letter-spacing: 0.125em;
    margin: 0;
    overflow: hidden;
    padding: 10px 0 15px;
    text-align: right;
    text-transform: uppercase;
}
#cartdrop .cartinner .actions p .label {
    float: left;
}

#cartdrop .cartinner .actions .view-cart ,
#cartdrop .cartinner .actions button {width: 138px;box-sizing: border-box}

#cartdrop .cartinner .actions .or {
    display: none;
}


.page-404 > h3 {
    font-size: 24px;
    margin: 2% 0;
    text-transform:uppercase;
}

.page-404 .page-title {
    padding: 60px 0 15px;
}
.page-404 {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.page-404 .a-center {
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.page-404 .a-button-grey, .page-404 .a-button {
    display: inline-block;
    float: none;
}
footer .sticky{
	background:#071727;
   	bottom: 0;
    height: 60px;
    padding: 0 2%;
    position: fixed;
    width: 97%;
	z-index: 99;
}

/*toolbar start*/

.toolbar {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #efefef;
    color: #727272;
	clear:both;
	overflow:hidden;    

}
.toolbar .pager {
    float: left;
	width:100%;
}
.limiter{ float:right;    
	line-height: 3.4em;
}

.toolbar .amount {
    float: left;
    line-height: 3.4em;
    text-transform: uppercase;
}
.toolbar .pager .pages {
}
.toolbar .sorter {
    float: right;
	display:none;
}
.toolbar-bottom {
    margin-top: 20px;
}

.toolbar .pager .pages .next,.toolbar .pager .pages .previous {
    text-align: center;
    text-transform: uppercase;
    width: 70px;
	color:#071727;
	letter-spacing:2px;
	font-weight:bold;
}
.pager .pages {
    vertical-align: middle;
}
.pager .pages strong, .pager .pages span {
    font-weight: normal;
	line-height:3.6em;
	font-size:13px;
	text-transform:uppercase;
}
.pager .pages ol {
    display: inline-block;
    vertical-align: middle;
	padding-left:0;
}
.pager .pages ol li:last-child {
	
}
.toolbar .pager {
    text-align: center;
	margin: 10px 0;
    padding: 5px 0;
}
.pager .pages li a.previous, .pager .pages li a.next{}
.pager .pages ol li.current {
    font-weight: bold;
	color:#071727;
}
.pager .pages li {
    display: block;
    float: left;
    margin: 0 0 0 5px;
    text-align: center;
	border:1px solid #cfcfcf;
}
.pager .pages li a {
    background-color: transparent;
    color: inherit;
    display: block;
}
.pager .pages li a.previous, .pager .pages li a.next {
    overflow: hidden;
    text-indent: -9999px;
}
.sorter .view-mode .grid, .sorter .view-mode .list, .sorter .sort-by .category-asc, .sorter .sort-by .category-desc, .pager .pages li {
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.pager .pages li a.previous, .pager .pages li a.next{ text-indent:0;}
.pager .pages ol li:before {
    content: none;
}
.toolbar .pager .limiter .size {
    width: 123px;
	float:left;
}
.toolbar .pager .limiter .size .selected{
	 color: #071727 !important;
    font-weight: bold;

}
.toolbar .pager .limiter .size a {
    border: 1px solid #cfcfcf;
    cursor: pointer;
    height: 20px;
    line-height: 29px;
    margin: 0 0 0 5px;
	padding:7px;
    width: 20px;
	color:#727272;
	font-size:13px;
	vertical-align:middle;
	
}
.toolbar .pager .limiter label{
	text-transform:uppercase;
}

/*toolbar  end*/
.checkout-cart-index .cart-empty {
    display: table;
    margin: 0 auto;
    text-align: center;
}
.catalog-product-view .add-to-links {
    display: none;
}
.product-options-bottom .price-box {
    float: left;
}
.product-options-bottom .product_qtn {
    float: right;
}
.product-options-bottom .product_qtn > label, #right-product .product_qtn > label {
    line-height: 2em;
	 margin-right: 5px;
}
#right-product .product_qtn {
    float: right;
    margin: 5px 0;
}
#right-product .price-box {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.press-page-pagination .press-pagination-wrap .press-pagination-button {margin-left:5px; }
.press-page-pagination .press-pagination-wrap .press-pagination-button a.active { font-weight:bold; }

/*** Sitewide ***/
header .nav-wrapper nav > ul > li > a {
	font-size:14px; letter-spacing:0.125em;
}
header .nav-wrapper nav > ul > li .mega-menu .links-block .links-bock-inner h4, header .nav-wrapper nav > ul > li .mega-menu .inner .mega-product h4 {
	font-weight:normal;
}
header .nav-wrapper nav > ul > li .mega-menu .links-block.last {
	margin-right:14.0845% !important;
}
header .nav-wrapper nav > ul > li .mega-menu .inner .recently-viewed ul li {
	margin:0 1% 0.5% 0;
}
.mega-product .pink-borderbox p {
	margin-top:0;
}
.cms-home .col1-layout {
	padding:0;
}
footer .footer-bottom .links-wrapper .block h4 {
	font-size:14px;
	letter-spacing:0.125em;
	font-weight:normal;
	font-family:"Proxima N W15 Bold", arial, sans-serif;
	padding-bottom:10px; border-bottom:1px solid #384652;
}
footer .footer-top div.right > a, footer .footer-top div.center a {
	font-weight:normal;
	letter-spacing:0.125em;
}
footer .footer-bottom .links-wrapper .block, footer .footer-bottom .links-wrapper .block.right {
	margin-top:10px;
}
.home-footer {
	clear:both; overflow:hidden;
}
.home-footer .our-showroom, .home-footer .indigo-video {
	width:49.42%;
}
.home-footer .our-showroom {
	float:left;
}
.home-footer .indigo-video {
	float:right;
}
footer .footer-bottom .links-wrapper .block {

}
footer .footer-bottom .links-wrapper .block.right h4 {
	padding-bottom:0; border-bottom:0 none;
}
footer .footer-copyright p.copyright {
	font-size:13px; letter-spacing:0.125em;
}
footer .footer-bottom .links-wrapper .block address {
	margin-bottom:0;
}
footer .footer-bottom .links-wrapper .address-block a{
	font-size:12px; color:#FFFFFF; text-decoration:underline;
}
footer .footer-top div.left .stay-update .block-content .actions button {
	line-height:32px;
}
footer .footer-top div.left .stay-update .block-content .input-box input, footer .footer-top div.left .stay-update .block-content .input-box textarea {
	font-size:13px; padding:10px;
}
/*** Homepage ***/
.div-img a{
	width:100%; height:883px;
	display:block;
}
@media (max-width: 1000px) {
	.div-img a {
		height:420px;
	}
}
@media (max-width: 550px) {
	.div-img a {
		height:280px;
	}
}
#home-right-wrapper .new-products .product-list-block li p.name {
	margin-bottom:0;
}
#home-left-wrapper .famous-friends div.right h4 {
	margin-bottom:20px; padding-bottom:25px;
	background:url('../images/minisplit-black.png') bottom left no-repeat transparent;
}
#home-left-wrapper .famous-friends div.right p {
	width:85%;
}
#banner .slides-container li div.text p {
	font-size:13px;
}
.banner-center-text div.text h3 {
	margin:0;
}
.banner-center-text div.text p {
	margin-top:10px;
}
#home-right-wrapper #journal-wrapper .text h2 {
	margin-bottom:20px;
}
.banner-center-text div.text h2 {
	margin-bottom:0;
}
#home-right-wrapper #journal-wrapper {
	margin-bottom:18px;
}
#home-right-wrapper #journal-wrapper h2 {
	margin-bottom:40px;
}
#home-right-wrapper .new-products {
	padding-bottom:40px; margin-bottom:40px;
}
#home-right-wrapper .new-products h2 {
	margin-bottom:40px;
}
#middle-banner .bx-wrapper .bx-viewport .slider-wrapper li .text {
	top:50%; margin-top:-60px;
}
#home-right-wrapper .new-products .product-list-block li .price {
	font-family:'Proxima N W15 Reg', arial, sans-serif;
}
#home-right-wrapper {
	width:939px;
}
@media all and (max-width: 1960px) {
	#home-right-wrapper {
		width:49.42%;
	}
}
@media all and (max-width: 640px) {
	#home-right-wrapper {
		width:100%;
	}
}

/*** Category/Product List ***/
.catalog-category-view .col-main {
	width:100%;
}
#category-top {
clear:both;width: 100%;height: 0;padding-bottom:40%;position: relative;
}
.category-image {
	width:100%;display:block;height: 100%;position: absolute;
}
#category-top.full-screen-banner .text-wrapper {

}

.full-screen-banner .text-wrapper {
	position:absolute; top:50%; margin-top:-60px;
}
#category-top .text {
	position:relative; top:0;
}
#product-list .products-grid > li .product-bottom h2.product-name a, .block-related .products-grid > li .product-bottom h2.product-name a, .wishlist-wrapper .products-grid > li .product-bottom h2.product-name a {
	font-weight:normal;
}
.toolbar .pager .pages .next, .toolbar .pager .pages .previous, .pager .pages ol li.current, .toolbar .pager .limiter .size .selected {
	font-weight:normal; font-family:"Proxima N W15 Bold",arial,sans-serif;
}

/*** Product Page ***/
.size-collateral p.attr {
	margin:0;
}
#left-product .other-options h2 {
	font-weight:normal; letter-spacing:0.125em; margin-bottom:20px;
}
.its-all-in-the-detail {
	margin-bottom:30px;
}

/*** Shopping Cart ***/
.data-table tbody td.product-cart-info .product-name {
	font-size:22px; margin-top:10px;
}
.data-table tbody td .cart-price, .data-table tbody td .qty-container {
	margin-top:10px;
}