/**
 * @category    Mana
 * @package     Mana_Core
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/*variables*/
/* @mixin */
#m-wait {
  position: absolute;
  color: #d85909;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  /*opacity:0.80;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 */
  z-index: 20000; }

#m-wait .loader {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 120px;
  margin-left: -120px;
  padding: 15px 60px;
  background: #fff;
  color: #000;
  font-weight: normal;
  text-align: center;
  z-index: 20100;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -ms-box-sizing: content-box;
  border: 1px solid #D7D8D9; }

#m-wait .loader i {
  font-size: 25px; }

.m-popup {
  position: absolute;
  background: white;
  z-index: 20100; }

.m-popup-overlay {
  position: absolute;
  background: black;
  filter: alpha(opacity=0);
  /* percent */
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  z-index: 10000; }

.m-overlay {
  position: absolute;
  background: white;
  filter: alpha(opacity=0);
  /* percent */
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  z-index: 10000; }

/*# sourceMappingURL=mana_core.css.map */
