input[type="checkbox"], textarea[type="checkbox"], input[type="radio"], textarea[type="radio"] {
	display: block;float: left;
}
input[type="checkbox"] + label {float: left;}
header .header-part-2 {background:rgb(7,23,39);}
#home-left-wrapper {width: 49.42%;}
#home-right-wrapper {width: 49.42%;}