<?php
/*
*Created by juno
*/
?>
<div class="page-404 logged-out">
    <div class="page-title">
        <h1><?php echo $this->__('You Are Now Logged Out') ?></h1>
    </div>
    <p class="a-center">
        You hae logged out and will be redirected to our homepage in 5 seconds
    </p>
    <div class="absolute-center">
    <a class="a-button" href="<?php echo $this->getUrl();  ?>">Go to homepage</a>
    </div>
    <?php echo $this->getChildHtml('shop_list'); ?>
</div>

<script type="text/javascript">
//<![CDATA[
    setTimeout(function(){ location.href = '<?php echo $this->getUrl() ?>'},5000);
//]]>
</script>
