<?php $banner = Mage::getModel('banners/image')->getCollection();?>
<?php $banner->addFieldToFilter('code', '404-shop-list');?>
<?php $banner->addFieldToFilter('status', 1); ?>
<?php $banner->setOrder('sort_order', 'asc');?>
<?php if(count($banner)):?>        
<div class="shop-list no-border">
    <div class="center-div">
        <ul id="crosssell-products-list">
        <?php $i=1;foreach($banner as $ban): ?>        
            <li <?php if($i%4==0):?>class="last"<?php endif;?>><a class="product-image" href="<?php echo $ban['url'] ?>"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>"/></a>
                <div class="product-details">
                    <div class="inner">
                        <h3 class="product-name">
                            <a href="<?php echo $ban['url'] ?>"><?php echo $ban->getTitle();?></a>
                        </h3>
                    </div>
                    <!-- inner -->
                </div><!-- product detail -->
            </li>
        <?php  $i++; endforeach; ?>            
        </ul>
    </div>
</div>
<?php endif;?>