<?php
/**
 * @category    Mana
 * @package     Mana_Core
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/* @var $this Mage_Core_Block_Template */
?>
<div id="m-wait" style="display:none;">
    <p class="loader" id="loading_mask_loader">
    	<i class="fa fa-spinner fa-spin"></i>
    	<br/><?php echo $this->__('Please wait...') ?>
    </p>
</div>

