<header>
    <div class="top-links-container">
        <?php echo $this->getChildHtml('top_links') ?>
    </div>
    <div class="header-part-2">
        <div class="opacity-div"></div>
        <div class="contents">
            <div class="middle-header">
                <?php if ($this->getIsHomePage()):?>
                    <h1 class="logo">
                        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>">
                            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
                    </h1>
                <?php else:?>
                    <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
                        <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" />
                    </a>
                <?php endif?>
                <?php echo $this->getChildHtml('topSearch'); ?>
            </div>
        </div>
    </div>
</header>