/*
Theme Name: Juno Magento
Theme URI: 
Author: Juno Media
Author URI: http://junomedia.co.uk/
Description: 
Template: Divi
Version: 1.0
*/
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/** ----- Body ----- **/
#body .contents{overflow: hidden;padding-bottom: 30px;}
.journal .block{border: none !important}
.col-main{width: 700px;float: left;}
.col-right{width: 180px;float: right;}

.breadcrumbs{height: 45px;margin: 0;}
.breadcrumbs li{background: url('images/icon-breadcrumbs.gif') no-repeat right center;float: left;padding-right: 10px;margin-right: 7px;font-size: 11px;line-height: 45px;}
.breadcrumbs li.last{background: none;}
.breadcrumbs li a{color: #434343;text-decoration: none;display: block;}
.breadcrumbs li span{display: block}

.wp-pagenavi{overflow: hidden;font-size: 11px;line-height: 1.4em;}
.wp-pagenavi a, .wp-pagenavi span{padding: 0 2px;display: inline-block;}
.wp-pagenavi span.current{color: #88323f;}
.wp-pagenavi a.previouspostslink{padding: 0 0 0 8px; background:url('images/pager_arrow_left.gif') no-repeat left bottom; width: 5px; height: 12px; text-indent: -9999px}
.wp-pagenavi a.nextpostslink{padding: 0 8px 0 0; background:url('images/pager_arrow_right.gif') no-repeat left bottom; width: 5px; height: 12px; text-indent: -9999px}
.wp-pagenavi a.page{background: none;margin: auto;padding: 0 2px;width: auto;}
.wp-pagenavi .pages{margin-right: 12px;}

.grid-post{overflow: hidden;margin-bottom: 42px;}
.grid-post li{float: left;width: 220px;padding-right: 9px;margin-right: 10px;border-right: 1px solid #dedede;}
.grid-post li.last{border: 0}
.grid-post li a.image{display: block;height: 194px;margin-bottom: 20px;}
.grid-post li a.title{display: block;margin-bottom: 8px;text-transform: uppercase;text-decoration: none;font: 13px/1em 'engraversgothic_btregular',Arial,sans-serif;}
.grid-post li p{font-size: 11px;margin-bottom: 4px;line-height: 1.6em}
.grid-post li a.read-more{display: block;text-align: right;text-decoration: none;font: bold 14px/0.8em Georgia,serif;}

.list-post{}
.list-post li{margin-bottom: 50px;}
.list-post li a.image{display: block;height: 407px;margin-bottom: 25px;}
.list-post li a.title{display: block;margin-bottom: 2px;text-transform: uppercase;text-decoration: none;font: 22px/1em 'engraversgothic_btregular',Arial,sans-serif;}
.list-post li p{font-size: 11px;margin-bottom: 32px;line-height: 1.6em}
.list-post li p.posted-on{line-height: 1.25em;margin-bottom: 24px;color: #c9c9c9}
.list-post li a.read-more{display: block;font-size: 11px;text-decoration: none;}

.blog-single{}
.blog-single .entry{margin-bottom: 60px;}
.blog-single .entry p.image{margin-bottom: 20px;}
.blog-single .entry h2.title{margin-bottom: 2px;text-transform: uppercase;text-decoration: none;font: 22px/1em 'engraversgothic_btregular',Arial,sans-serif;}
.blog-single .entry p{font-size: 11px;margin-bottom: 20px;line-height: 1.6em}
.blog-single .entry p.posted-on{line-height: 1.25em;margin-bottom: 24px;color: #c9c9c9}

.blog-related{margin-bottom: 75px;}
.blog-related h4{margin-bottom: 18px;text-transform: uppercase;text-decoration: none;font: 15px/1em 'engraversgothic_btregular',Arial,sans-serif;}

.comments-box{}
.comments-box .title-box{overflow: hidden;margin-bottom: 20px;}
.comments-box .title-box h4,.comments-box .title-box a{text-transform: uppercase;text-decoration: none;font: 15px/1em 'engraversgothic_btregular',Arial,sans-serif;margin: 0;}
.comments-box .comments-list{}
.comments-box .comments-list li{padding-bottom: 19px;margin-bottom: 20px;border-bottom: 1px solid #dedede;}
.comments-box .comments-list li.last{border: 0;margin: 0;padding: 0}
.comments-box .comments-list li p{font-size: 11px;margin-bottom: 8px;line-height: 1.6em}
.comments-box .comments-list li span.posted-by{display: block;text-transform: uppercase;font: 12px/1em 'engraversgothic_btregular',Arial,sans-serif;}

.form-list{}
.form-list li{overflow: hidden;margin-bottom: 15px}
.form-list li label{font: normal 12px/1.2em Georgia,serif;color: #111;display: block;margin-bottom: 6px;}
.form-list li input.input-text,.form-list li textarea{width: 282px;}
.form-list .input-box,.form-list li select{width: 100%;}
.buttons-set{padding: 20px 0 0 0;border: 0;background: none;overflow: hidden;text-align: left;margin: 0}
.buttons-set button.button{margin-left: 10px;float: right;}
.buttons-set p.required{color: #111;margin: 0;font-size: 12px;line-height: 33px;float: right;}

#comment-form{width: 300px;}
#comment-form h2.title{text-transform: uppercase;text-decoration: none;font: 22px/1em 'engraversgothic_btregular',Arial,sans-serif;margin-bottom: 20px;}

.col-right .block{margin-bottom: 30px}
.col-right .block h3{margin-bottom: 10px;text-transform: uppercase;text-decoration: none;font: 15px/1em 'engraversgothic_btregular',Arial,sans-serif;}
.col-right .block ul{}
.col-right .block ul li{font-size: 12px;line-height: 1.3em;overflow: hidden;margin-bottom: 12px;}
.col-right .block ul li a{float: left}

.col-right .block-archives{}
.col-right .block-archives li{margin-bottom: 10px;}
.col-right .block-archives li span.count{float: left;height: 17px;width: 17px;text-align: center;color: #fff;line-height: 15px;background: #e5ded7;margin-right: 2px;letter-spacing: -1px;font-size: 11px;}

.col-right .block-tweet ul li{line-height: 1.4em;}


	
		
.tweet_list li a {text-decoration: underline;}
.col-right .block .tweet_list .tweet_time a {float: none;}

.testimonials-page .full-screen-banner .text-wrapper p {
	color: #fff;
	font-family: "BaskervilleMTW01-Roman", "Times New Roman", serif;
	font-size: 20px;
}
