<footer>
  <div class="footer-top">
    <div class="contents">
            <div class="opacity-div"></div>
      <div class="left">
        <?php echo $this->getChildHtml('newsletter-signup-text') ?>
        <?php echo $this->getChildHtml('footer_newsletter') ?>
      </div>
      <div class="center">
        <a href="#" class="visit"><?php echo $this->__('Visit our showrooms') ?></a>
      </div>
      <div class="right">
              <?php echo $this->getChildHtml('SocialMedia') ?>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
      <div class="contents">
          <div class="links-wrapper">
              <div class="links-blocks">
              <?php echo $this->getChildHtml('FooterLinks') ?>
              </div>
              <div class="addresses-blocks">
                <div class="block address-block">
                  <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('showroom1')->toHtml();
    ?>
                </div>
                <div class="block address-block">
                  <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('showroom2')->toHtml();
    ?>
                </div>
              </div>

            <div class="block contact-info right">
              <h4>Contact Us</h4>
              <p>Call <strong><?php echo Mage::getStoreConfig('general/store_information/phone'); ?></strong><br />
              <a href="mailto:sales@indigofurniture.co.uk" target="_top"><?php echo Mage::getStoreConfig('trans_email/ident_sales/email');?></a></p>
            </div>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="contents">
        <p class="copyright left"><?php echo $this->getCopyright(); ?></p>
      </div>
  </div>
</footer>

<script type="text/javascript">

 jQuery(window).load(function(){
    var positionFooter = function() {
        stickyFooBar = jQuery('.footer-top').offset().top;
        footerTop    = jQuery(window).scrollTop() + jQuery(window).height();
       
        if(stickyFooBar > footerTop) {
            jQuery('.footer-top .contents').addClass('sticky');  
        } else {  
            jQuery('.footer-top .contents').removeClass('sticky');  
        }         
    } 

    positionFooter();
    jQuery(window).scroll(function() {  
        positionFooter();
    });
    jQuery(window).resize(function() {  
        positionFooter();
    });      
});
</script>



