<div class="mega-menu">
    <div class="inner">
        <div class="links-column">
        <div class="links-block">
            <div class="links-bock-inner">
                <h4>Beds</h4>
                <ul>
                    <li><a href="#">Wooden Beds</a></li>
                    <li><a href="#">Leather Sleigh Beds</a></li>
                    <li><a href="#">Fabric Sleigh Beds</a></li>
                    <li><a href="#">Four Poster Beds</a></li>
                    <li><a href="#">Loft Beds</a></li>
                    <li><a href="#">Headboards</a></li>
                    <li><a href="#">Low Footend</a></li>
                    <li><a href="#">Standard Footend</a></li>
                    <li><a href="#">Childrens Beds</a></li>
                </ul>
            </div>                                
            <div class="links-bock-inner last">
                <h4>Mattresses</h4>
                <ul>
                    <li><a href="#">Exclusive Memory Pocket</a></li>
                    <li><a href="#">Ultimate Natural</a></li>
                    <li><a href="#">Traditional Pocket</a></li>
                    <li><a href="#">Junior Reflex</a></li>
                </ul>
            </div>
        </div>        
        <div class="links-block last">
            <div class="links-bock-inner">
                <h4>Features</h4>
                <ul>
                    <li><a href="#">Exclusive Memory Pocket</a></li>
                    <li><a href="#">Ultimate Natural</a></li>
                    <li><a href="#">Traditional Pocket</a></li>
                    <li><a href="#">Junior Reflex</a></li>
                </ul>
            </div>            
            <div class="links-bock-inner last">
                <h4>Visit Our Showrooms</h4>
                <ul>
                    <li><a href="#">Exclusive Memory Pocket</a></li>
                    <li><a href="#">Ultimate Natural</a></li>
                    <li><a href="#">Traditional Pocket</a></li>
                    <li><a href="#">Junior Reflex</a></li>
                </ul>
            </div>
        </div>
    </div><!-- links-colum -->
    <div class="mega-product">
		<?php $banner = Mage::getModel('banners/image')->getCollection();?>
		<?php $banner->addFieldToFilter('code', 'bed-mega');?>
		<?php $banner->addFieldToFilter('status', 1); ?>
		<?php $banner->setOrder('sort_order', 'asc');?>
		<?php foreach($banner as $ban): ?>	
		<div class="col1-box col-last pink-borderbox">
			<a href="<?php echo $ban['url'] ?>">
				<div class="img-box img-squarebox">
					<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" />
				</div>
				<h4><?php echo $ban->getTitle()?></h4>
			</a>
			<p><?php echo $ban->getDescription()?></p>	
		</div>
		<?php endforeach; ?>
    </div>
    <div class="recently-viewed">
        <ul>
			<?php $banner_model = new Juno_Banners_Model_Image(); ?>
			<?php $shop_collections = Mage::getResourceModel('banners/image_collection')->addImageCodeFilter('mega-viewed')->addFieldToFilter('status','1')-> setOrderByPosition(); ?>
			<?php $flag = true; ?>
			<?php foreach($shop_collections as $shop_collection): ?>
			 	<?php $count = 0; ?>
			 	<?php if($count < count($shop_collection)): ?>
			  	<?php $shop_collection = $banner_model->load($shop_collection['image_id']); ?>
			   	<?php $url = $shop_collection->getUrl(); ?>
			   	<li>
					<a href="<?php echo $url; ?>">
				  			<img src="<?php echo $shop_collection->getImageUrl();?>" alt="<?php echo $shop_collection['title'];?>" />
					</a>
			   	</li>
			 	<?php endif;?>
			 	<?php $count++; ?>
			<?php endforeach; ?>
		</ul>
		
    </div>

    </div><!-- inner -->
    <!--<div class="white-bg"></div>-->
</div>