<div class="choose-your-size">
    <p class="title"><?php echo $this->__('Choose your size') ?></p>
    <div class="size-collateral toggle-content tabs">
        <dl>
            <dt class="tab"><span><?php echo $this->__('Single') ?></span></dt>
            <dt class="tab"><div class="separator"></div><span><?php echo $this->__('Double') ?></span></dt>
            <dt class="tab"><div class="separator"></div><span><?php echo $this->__('King') ?></span></dt>
            <dt class="tab"><div class="separator"></div><span><?php echo $this->__('Superking') ?></span></dt>
            <dd class="tab-container">
                <div class="tab-content">
                    <p class="title">Your Selection</p>
                    <p class="attr"><strong>Size:</strong><span>Single</span></p>
                    <p class="attr"><strong>Footend:</strong><span>Standard</span></p>
                    <p class="line"></p>
                    <p class="price attr-price">&pound;799</p>
                    <a class="a-button-small-grey left" href="#">See Flexible Finance Options</a>
                </div>
            </dd>
            <!-- tab-content1 -->
            <dd class="tab-container">
                <div class="tab-content">Double</div>
            </dd>
            <!-- tab content2 -->
            <dd class="tab-container">
                <div class="tab-content">King</div>
            </dd>
            <!-- tab content3 -->
            <dd class="tab-container">
                <div class="tab-content">Superking</div>
            </dd>
            <!-- tab content4 -->
        </dl>
    </div>
</div>
