    <div class="its-all-in-the-detail-wide">
    <div class="left">
    	<h3><?php echo $this->__('It\'s All In The Detail') ?></h3>
    	<ul class="item-collapse">
    		<li>
    			<p><strong>Crafted in Slow Growing Canadian Pine</strong><span class="right">+</span></p>
    			<div class="content">
    				<p>Hand crafted by Indigo furniture from slow-growing Canadian Pine and finished with Beeswax revealing the texture and grain of the wood.</p>
    			</div>
    		</li>    		
    		<li>
    			<p><strong>Hand Finished with Beeswax</strong><span class="right">+</span></p>
    			<div class="content">
    				<p>Hand crafted by Indigo furniture from slow-growing Canadian Pine and finished with Beeswax revealing the texture and grain of the wood.</p>
    			</div>
    		</li>    		
    		<li>
    			<p><strong>15 Year Guarantee</strong><span class="right">+</span></p>
    			<div class="content">
    				<p>Hand crafted by Indigo furniture from slow-growing Canadian Pine and finished with Beeswax revealing the texture and grain of the wood.</p>
    			</div>
    		</li>    		
    		<li>
    			<p><strong>Breaks Down for delivery</strong><span class="right">+</span></p>
    			<div class="content">
    				<p>Hand crafted by Indigo furniture from slow-growing Canadian Pine and finished with Beeswax revealing the texture and grain of the wood.</p>
    			</div>
    		</li>
    	</ul>
    </div><!-- left -->
    <div class="right">
    	<div class="img">
    		<img src="<?php echo $this->getSkinUrl('images/product-page-support-pic.jpg') ?>" alt="">
    	</div>
    </div>
    <!-- /.right -->
    </div>
    <!-- its-all-in-the-detail-wide -->