
<div class="product-options" id="product-options-wrapper">

<div class="other-options">
    <h2><?php echo $this->__('Other Options') ?></h2>
    <div class="product-collateral toggle-content tabs">
        <dl value="collateral-tabs" class="collateral-tabs">
                <dt class="tab"><span><?php echo $this->__('1. Choose Your Size') ?></span></dt>
                <dt class="tab"><div class="separator"></div><span><?php echo $this->__('2. Choose Your Footend') ?></span></dt>
                <dt class="tab"><div class="separator"></div><span><?php echo $this->__('3. Choose Underbed Storage') ?></span></dt>
                <!-- tab-content1 -->
                <dd class="tab-container">
                    <div class="tab-content">
                        <?php echo $this->getChildHtml('product_options_1'); ?>
                        <div class="fed-select-container">
                            <!-- /.dimensition-change -->
                            <div class="dimensions-change">
                                <p><?php echo $this->__('Show dimensions in') ?></p>
                                <p><input type="radio" name="demensions" id="cm" value="cm" checked><label for="cm"><span class="i"></span>cm</label></p>
                                <p><input type="radio" name="demensions" id="inches" value="inches"><label for="inches"><span class="i"></span>inches</label></p>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn-next">Next step</a>
                    </div>
                    <div class="hidden">
                        <?php echo $this->getChildHtml('options_configurable_2') ?>
                    </div>
                </dd>
                <!-- tab content2 -->
                <dd class="tab-container">
                    <div class="tab-content">
                        <?php echo $this->getChildHtml('product_options_2'); ?>
                        <a href="javascript:void(0)" class="btn-next">Next step</a>
                    </div>
                </dd>
                <!-- tab content3 -->
                <dd class="tab-container">
                    <div class="tab-content">
                        <?php echo $this->getChildHtml('product_options_3'); ?>
                    </div>
                </dd>
        </dl>
    </div>
</div>

<!--    --><?php //echo $this->getChildHtml('', true, true);?>
    <?php if ($this->hasRequiredOptions()):?>
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    <?php endif;?>
</div>
<script type="text/javascript">decorateGeneric($$('#product-options-wrapper dl'), ['last']);</script>