<?php $_product=$this->getProduct();?>
<div class="product-extra">
    <ul class="item-collapse">
    <li></li>
    	<?php if($_product->getTestimonials()): ?>
        <li>
            <p><?php echo $this->__('Testimonials') ?><span class="right">+</span></p>
            <div class="content">
                <p><?php echo $_product->getTestimonials(); ?></p>
            </div>
        </li>
  		<?php endif;?>
        
        <?php if($_product->getWillLastForGenerations()): ?>
        <li>
            <p><?php echo $this->__('Will last for generations') ?><span class="right">+</span></p>
            <div class="content">
                <p><?php echo $_product->getWillLastForGenerations(); ?></p>
            </div>
        </li>
        <?php endif;?>
        
        <?php if($_product->getOutstandingService()): ?>
        <li>
            <p><?php echo $this->__('Outstanding service') ?><span class="right">+</span></p>
            <div class="content">
                <p><?php echo $_product->getOutstandingService(); ?></p>
            </div>
        </li>
        <?php endif;?>
    </ul>
</div>
<!-- /.product-extra -->