<div class="product-support">
	<div class="left">
		<div class="build-section">
			<h2><?php echo $this->__('The Indigo Build') ?></h2>
			<a href=""><img src="<?php echo $this->getSkinUrl('images/indigo-build.jpg') ?>" alt=""></a>
			<div class="text">
				<h2>Handmade in our own workshops</h2>
				<p>Dedicated to keeping craftsmanship alive, each detail carefully considered, each piece hand crafted in our own workshops.</p>
				<a href="#" class="read-more">Read More<i class="fa fa-caret-right"></i></a>
			</div>
		</div>
		<div class="build-section">
			<a href=""><img src="<?php echo $this->getSkinUrl('images/indigo-build-2.jpg') ?>" alt=""></a>
			<div class="text">
				<h2>Handmade in our own workshops</h2>
                <p>Dedicated to keeping craftsmanship alive, each detail carefully considered, each piece hand crafted in our own workshops.</p>
				<a href="#" class="read-more">Read More<i class="fa fa-caret-right"></i></a>
			</div>
		</div>
	</div>
    <!-- left -->
    <div class="right">
        <div class="journal-block">
            <h2><?php echo $this->__('Journal'); ?></h2>
            <h3><?php echo $this->__('The Brit List - Hibou Home'); ?></h3>
            <div class="content">
                <a href="#"><img src="<?php echo $this->getSkinUrl('images/journal-1.jpg');  ?>" alt=""/></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, sit voluptatum! Aspernatur at </p>
                <a href="#" class="read-more">Read More<i class="fa fa-caret-right"></i></a>
            </div>
        </div>
        <!-- journal -->
        <div class="support-block">
            <img src="<?php echo $this->getSkinUrl('images/we-here-to-help.jpg');  ?>" alt=""/>
            <h3><?php echo $this->__('We Are Here To Help') ?></h3>
            <p><?php echo $this->__('Call us on <strong>01629 581800</strong>') ?><br/>or<br/><a href="<?php echo $this->getUrl('contacts');  ?>"><?php echo $this->__('Click here to contact us') ?></a></p>
        </div>
    </div>
    <!-- right -->

</div>
