<?php
/*
*Created by juno
*/
?>
<?php $banner = Mage::getModel('banners/image')->getCollection();?>
<?php $banner->addFieldToFilter('code', 'contact-us');?>
<?php $banner->addFieldToFilter('status', 1); ?>
<?php $banner->setOrder('sort_order', 'asc');?>
<?php foreach($banner as $ban): ?>	
<div class="full-screen-banner">
  <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" class="base_img"/>
</div>
<?php endforeach; ?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="contact-us">
    <div class="page-title">
        <h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>
    </div>
    <?php //echo $this->getChildHtml('contact-info'); ?>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contact-info-left')->toHtml() ?>
    <div class="contact-form">
        <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
            <div class="hatton-form">
                <div class="margin2">
                    <h3><?php echo Mage::helper('contacts')->__('Contact form') ?></h3>
                    <ul class="form-list">
                        <li class="left">
                            <label for="name"
                                   class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name') ?>
                            </label>

                            <div class="input-box">
                                <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>"
                                       value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>"
                                       class="input-text required-entry" type="text"/>
                            </div>
                        </li>
                        <li class="right">
                            <label for="last-name"
                                   class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Last name') ?>
                            </label>

                            <div class="input-box">
                                <input name="last-name" id="last-name"
                                       title="<?php echo Mage::helper('contacts')->__('Last name') ?>"
                                       class="input-text required-entry" type="text"/>
                            </div>
                        </li>
                        <li class="left">
                            <label for="email"
                                   class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email address') ?>
                            </label>

                            <div class="input-box">
                                <input name="email" id="email"
                                       title="<?php echo Mage::helper('contacts')->__('Email address') ?>"
                                       value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>"
                                       class="input-text required-entry validate-email" type="text"/>
                            </div>
                        </li>
                        <li class="right">
	                        <label for="telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>
	
	                        <div class="input-box">
	                            <input name="telephone" id="telephone"
	                                   title="<?php echo Mage::helper('contacts')->__('Telephone') ?>"
	                                   value="" class="input-text" type="text"/>
	                        </div>
                        </li>
                        <li class="wide">
                            <label for="comment"
                                   class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Message') ?>
                            </label>

                            <div class="input-box">
                                <textarea name="comment" id="comment"
                                          title="<?php echo Mage::helper('contacts')->__('Message') ?>"
                                          class="required-entry input-text" cols="5" rows="3"></textarea>
                            </div>
                        </li>
                    </ul>
                    <input type="text" name="hideit" id="hideit" value="" style="display:none !important;"/>

                    <div class="a-right clr">
                        <button class="button left" type="submit"
                                title="<?php echo Mage::helper('contacts')->__('Submit') ?>">
                            <span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contact-information')->toHtml(); ?>
</div>
<?php echo $this->getChildHtml('our_showrooms'); ?>
<?php echo $this->getChildHtml('shop_list'); ?>

<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    //]]>
</script>
