<div class="our-showrooms">
    <div class="line-fixed"></div>
    <h2><?php echo $this->__('Our Showrooms') ?></h2>
    <div class="showroom">
    	<?php $banner = Mage::getModel('banners/image')->getCollection();?>
		<?php $banner->addFieldToFilter('code', 'harrogate-showroom');?>
        <?php $banner->addFieldToFilter('status', 1); ?>
        <?php $banner->setOrder('sort_order', 'asc');?>
        <?php foreach($banner as $ban): ?>	
        <div class="img-left">
             <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>"/>
        </div>
        <?php endforeach; ?>
        <?php //echo $this->getChildHtml('contact-right'); ?>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contact-right')->toHtml() ?>
    </div>
    <div class="showroom last">
        <?php //echo $this->getChildHtml('contact-left'); ?>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contact-left')->toHtml() ?>
        <?php $banner = Mage::getModel('banners/image')->getCollection();?>
		<?php $banner->addFieldToFilter('code', 'matlock-showroom');?>
        <?php $banner->addFieldToFilter('status', 1); ?>
        <?php $banner->setOrder('sort_order', 'asc');?>
        <?php foreach($banner as $ban): ?>	
        <div class="img-right">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>"/>
        </div>
        <?php endforeach; ?>
    </div>
</div>