<?php
/*
*Created by juno
*/
?>
<div class="account-create">
    <div class="page-title">
        <h1><?php echo $this->__('Register') ?></h1>
    </div>
    <?php echo $this->getChildHtml('form_fields_before') ?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
        
            <div class="margin1">
                <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>"/>
                <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>"/>
                <p><?php echo $this->__('Please fill out the following form to create an account.') ?></p>
                
                <ul class="form-list">
                    <li>
                        <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?>
                        </label>

                        <div class="input-box">
                            <input type="text" name="email" id="email_address"
                                   value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>"
                                   title="<?php echo $this->__('Email Address') ?>"
                                   class="input-text validate-email required-entry"/>
                        </div>
                    </li>
                    <li>
                        <label><?php echo $this->__('Confirm Email Address') ?><em>*</em></label>
                        <div class="input-box">
                        <input type="text" name="confirm_email" title="<?php echo $this->__('Confirm Email') ?>" id="confirm_email" class="input-text required-entry validate-email" />
                        </div>
                    </li>
                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php if ($_dob->isEnabled()): ?>
                        <li><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></li>
                    <?php endif ?>
                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                        <li><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
                    <?php endif ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <?php if ($_gender->isEnabled()): ?>
                        <li><?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></li>
                    <?php endif ?>
                    <li>
                        <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>

                        <div class="input-box">
                            <input type="password" name="password" id="password"
                                   title="<?php echo $this->__('Password') ?>"
                                   class="input-text required-entry validate-password"/>
                        </div>
                    </li>
                    <li>
                        <label for="confirmation"
                               class="required"><em>*</em><?php echo $this->__('Confirm Password') ?>
                        </label>

                        <div class="input-box">
                            <input type="password" name="confirmation"
                                   title="<?php echo $this->__('Confirm Password') ?>" id="confirmation"
                                   class="input-text required-entry validate-cpassword"/>
                        </div>
                    </li>
                    <?php echo $this->getChildHtml('form.additional.info'); ?>
                    <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                </ul>
                <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
                <div class="newsletter-checkbox">
                    <?php if ($this->isNewsletterEnabled()): ?>

                                <input type="checkbox" name="is_subscribed"
                                       title="<?php echo $this->__('Join the Indigo newsletter to receive the latest news & offers.') ?>" value="1"
                                       id="is_subscribed"<?php if ($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?>
                                       class="checkbox"/>
                            <label for="is_subscribed" class="normal">
                                <span class="i"></span>
                                <?php echo $this->__('Join the Indigo newsletter to receive the latest news & offers.') ?></label>
                    <?php endif ?>
                </div>
                <div class="action-bt">
                <button class="button" type="submit" title="<?php echo $this->__('Submit') ?>">
                    <span><span><?php echo $this->__('Create an account') ?></span></span></button>
                    </div>

                <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
                    <input name="context" type="hidden" value="checkout"/>
                <?php endif; ?>
                <div class="">
                                <p class="border-p">
                <?php echo $this->__('If you already have an Indigo Furniture account');?>
                <strong><a href="<?php echo $this->getUrl('customer/account/login') ;?>"><?php echo $this->__('Sign In Now') ?></a></strong>
            </p>
            <p class="secure">
                <i class="fa fa-lock"></i> <?php echo $this->__('Indigofuture.co.uk is secure &amp; personal details are protected'); ?>
            </p>
                </div>
            </div>
        
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
        <?php endif; ?>
        //]]>
    </script>
</div>
