<?php
/*
*Created by juno
*/
?>
<div class="page-title">
    <h1><?php echo $this->__('Address Book') ?></h1>
</div>
<div class="col-main">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <div class="hatton-form clr">
            <div class="margin1">
                <div class="col2-set addresses-list">
                    <div class="col-1 addresses-primary">
                        <h3><?php echo $this->__('Default Billing Address') ?></h3>
                        <ol>
                            <?php if ($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling()): ?>
                                <li class="margin-bottom1">
                                    <address>
                                        <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
                                    </address>
                                    <p>
                                        <a href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('Change Billing Address') ?></a>
                                    </p>
                                </li>
                            <?php else: ?>
                                <li class="margin-bottom1">
                                    <p><?php echo $this->__('Default Billing Address') ?></p>
                                    <?php echo $this->__('You have no default billing address in your address book.') ?>
                                </li>
                            <?php endif ?>

                            <?php if ($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping()): ?>
                                <li class="margin-bottom1">
                                    <h3><?php echo $this->__('Default Shipping Address') ?></h3>
                                    <address>
                                        <?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
                                    </address>
                                    <p>
                                        <a href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('Change Shipping Address') ?></a>
                                    </p>
                                </li>
                            <?php else: ?>
                                <li class="item empty">
                                    <p><?php echo $this->__('Default Shipping Address') ?><br/>
                                        <?php echo $this->__('You have no default shipping address in your address book.') ?>
                                    </p>
                                </li>
                            <?php endif ?>
                        </ol>
                    </div>
                    <div class="col-2 addresses-additional">
                        <h3><?php echo $this->__('Additional Address Entries') ?></h3>
                        <ol>
                            <?php if ($_pAddsses = $this->getAdditionalAddresses()): ?>
                                <?php foreach ($_pAddsses as $_address): ?>
                                    <li class="item">
                                        <address>
                                            <?php echo $this->getAddressHtml($_address) ?>
                                        </address>
                                        <p>
                                            <a href="<?php echo $this->getUrl('customer/address/edit', array('id' => $_address->getId())) ?>"><?php echo $this->__('Edit Address') ?></a>
                                            <span class="separator">|</span> <a href="#" class="link-remove"
                                                                                onclick="return deleteAddress('<?php echo $_address->getId() ?>');"><?php echo $this->__('Delete Address') ?></a>
                                        </p>
                                    </li>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <li class="item empty">
                                    <p><?php echo $this->__('You have no additional address entries in your address book.') ?></p>
                                </li>
                            <?php endif ?>
                        </ol>
                        <button type="button" title="<?php echo $this->__('Add New Address') ?>"
                                class="button"
                                onclick="window.location='<?php echo $this->getAddAddressUrl() ?>';">
                            <span><span><?php echo $this->__('Add New Address') ?></span></span></button>
                    </div>
                </div>
            </div>
        </div>

</div>
<script type="text/javascript">
    //<![CDATA[
    function deleteAddress(addressId) {
        if (confirm('<?php echo $this->__('Are you sure you want to delete this address?') ?>')) {
            window.location = '<?php echo $this->getDeleteUrl() ?>id/' + addressId;
        }
        return false;
    }
    //]]>
</script>
