<?php
/*
*Created by juno
*/
?>

    <?php if ($this->getTitle()): ?>
        <div class="page-title">
            <h1><?php echo $this->getTitle() ?></h1>
        </div>
    <?php endif; ?>
<div class="col-main">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate">
        <div class="address-book-edit">
            <div class="margin1">
                <div class="address-book-col1">
                    <?php echo $this->getBlockHtml('formkey') ?>
                    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>"/>
                    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>"/>

                    <h3><?php echo $this->__('Personal Information') ?></h3>
                    <ul class="form-list">
                        <li>
                            <?php echo $this->getNameBlockHtml() ?>
                        </li>
                        <li>
                            <label for="company"><?php echo $this->__('Company') ?></label>

                            <div class="input-box">
                                <input type="text" name="company" id="company"
                                       title="<?php echo $this->__('Company') ?>"
                                       value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>"
                                       class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>"/>
                            </div>
                        </li>
                        <li>
                            <div class="field">
                                <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?>
                                </label>

                                <div class="input-box">
                                    <input type="text" name="telephone"
                                           value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>"
                                           title="<?php echo $this->__('Telephone') ?>"
                                           class="input-text  <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>"
                                           id="telephone"/>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="field">
                                <label for="fax"><?php echo $this->__('Fax') ?></label>

                                <div class="input-box">
                                    <input type="text" name="fax" id="fax" title="<?php echo $this->__('Fax') ?>"
                                           value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>"
                                           class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="address-book-col2">
                    <h3><?php echo $this->__('Address') ?></h3>
                    <ul class="form-list">
                        <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                        <li>
                            <label for="street_1"
                                   class="required"><em>*</em><?php echo $this->__('Street Address Line 1') ?> </label>

                            <div class="input-box">
                                <input type="text" name="street[]"
                                       value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>"
                                       title="<?php echo $this->__('Street Address Line 1') ?>" id="street_1"
                                       class="input-text <?php echo $_streetValidationClass ?>"/>
                            </div>
                        </li>
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <li>
                                <label for="street_<?php echo $_i ?>"
                                       class="required"><em>*</em><?php echo $this->__('Street Address Line %s', $_i) ?>
                                </label>

                                <div class="input-box">
                                    <input type="text" name="street[]"
                                           value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>"
                                           title="<?php echo $this->__('Street Address Line %s', $_i) ?>"
                                           id="street_<?php echo $_i ?>"
                                           class="input-text <?php echo $_streetValidationClass ?>"/>
                                </div>
                            </li>
                        <?php endfor; ?>
                        <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                            <li>
                                <label for="vat_id"><?php echo $this->__('VAT Number') ?></label>

                                <div class="input-box">
                                    <input type="text" name="vat_id"
                                           value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>"
                                           title="<?php echo $this->__('VAT Number') ?>" id="vat_id"
                                           class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>"/>
                                </div>
                            </li>
                        <?php endif; ?>
                        <li>
                            <div class="field">
                                <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>

                                <div class="input-box">
                                    <input type="text" name="city"
                                           value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"
                                           title="<?php echo $this->__('City') ?>"
                                           class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>"
                                           id="city"/>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label for="region"><?php echo $this->__('County') ?></label>

                            <div class="input-box">
                                <input type="text" id="region" name="region"
                                       value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"
                                       title="<?php echo $this->__('County') ?>"
                                       class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>"/>
                            </div>
                        </li>
                        <li>
                            <div class="field">
                                <label for="zip" class="required"><em>*</em><?php echo $this->__('Postal Code') ?>
                                </label>

                                <div class="input-box">
                                    <input type="text" name="postcode"
                                           value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>"
                                           title="<?php echo $this->__('Postal Code') ?>" id="zip"
                                           class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>"/>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="field">
                                <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?>
                                </label>

                                <div class="input-box">
                                    <?php echo $this->getCountryHtmlSelect() ?>
                                </div>
                            </div>
                        </li>
                        <li<?php if ($this->canSetAsDefaultBilling()) echo ' class="control"' ?>>
                            <?php if ($this->isDefaultBilling()): ?>
                                <strong><small>&check; </small><?php echo $this->__('Default Billing Address') ?></strong>
                            <?php elseif ($this->canSetAsDefaultBilling()): ?>
                                <input type="checkbox" id="primary_billing" name="default_billing" value="1"
                                       title="<?php echo $this->__('Use as My Default Billing Address') ?>"
                                       class="checkbox"/>
                                <label
                                    for="primary_billing"><span class="i"></span><?php echo $this->__('Use as my default billing address') ?></label>
                            <?php
                            else: ?>
                                <input type="hidden" name="default_billing" value="1"/>
                            <?php endif; ?>
                        </li>
                        <li<?php if ($this->canSetAsDefaultShipping()) echo ' class="control"' ?>>
                            <?php if ($this->isDefaultShipping()): ?>
                                <strong><small>&check; </small><?php echo $this->__('Default Shipping Address') ?></strong>
                            <?php elseif ($this->canSetAsDefaultShipping()): ?>
                                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1"
                                       title="<?php echo $this->__('Use as My Default Shipping Address') ?>"
                                       class="checkbox"/>
                                <label
                                    for="primary_shipping"><span class="i"></span><?php echo $this->__('Use as my default shipping address') ?></label>
                            <?php
                            else: ?>
                                <input type="hidden" name="default_shipping" value="1"/>
                            <?php endif; ?>
                        </li>
                    </ul>
                </div>
                <div class="a-right clr">
                    <button class="button left" type="submit" title="<?php echo $this->__('Add Address') ?>">
                        <span><span><?php echo $this->__('Add Address') ?></span></span></button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
    //]]>
</script>
<script>
    /*jQuery(document).ready(function ($) {
        jQuery(".address-book-edit select").selectBoxIt({
            autoWidth: false,
            showEffect: "fadeIn"
        });
    });*/
</script>
