<?php
/**
 * @category    Mana
 * @package     ManaPro_FilterPositioning
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
?>
<?php
/**
 * Category layered navigation
 *
 * @see Mage_Catalog_Block_Layer_View
 */

/* @var $_filterHelper Mana_Filters_Helper_Data */
$_filterHelper = Mage::helper('mana_filters');

?>
<?php if($this->canShowBlock()): ?>
<div class="block block-layered-nav m-topmenu mb-top-layered-navigation <?php echo Mage::getStoreConfig('mana_filters/mobile/slider') ?> <?php echo $this->areAllFiltersMobileOnly() ? 'm-mobile-only': ''?>"
     data-m-block="Mana/LayeredNavigation/Top/MenuBlock"
     data-behavior="<?php echo Mage::getStoreConfig('mana_filters/mobile/behavior') ?>"
     data-duration="<?php echo Mage::getStoreConfig('mana_filters/mobile/duration') ?>"
     data-hide-sidebars="<?php echo Mage::getStoreConfig('mana_filters/mobile/column_filters') == 'move' ? '1' : '0' ?>"
     data-one-column="<?php echo Mage::getStoreConfig('mana_filters/mobile/max_width') ?>"
     data-title="<?php echo $this->__('Filter') ?>"
     data-column-filters="<?php echo Mage::getStoreConfig('mana_filters/mobile/column_filters') ?>"
     data-min-width="<?php echo Mage::getStoreConfig('mana_filters/positioning_menu/min_width') ?>"
     data-max-width="<?php echo Mage::getStoreConfig('mana_filters/positioning_menu/width') ?>">

        <?php echo $this->getStateHtml() ?>

        <?php if($this->canShowOptions()): ?>
            <div id="narrow-by-list">
               <p class="title"><?php echo $this->__('Filter By') ?></p>

                <?php $showings = array("Type","Colour","Price"); ?>
                <?php $_filters = $this->getFilters() ?>
                <ul class="filter-wrapper">
                <?php foreach ($_filters as $_filter): ?>
                <?php if($_filter->getItemsCount()): ?>
                <?php $f_name =  trim($_filter->getName()); ?>
                <?php if(in_array($f_name, $showings)): ?>
                <li>
                <?php $_visible = Mage::helper('mana_filters')->renderHtml($this, 'menu_visible', array('filter' => $_filter)); ?>
                <div class="<?php echo $_filter->getFilterOptions() ? 'm-'. $_filter->getFilterOptions()->getDisplay() : '' ?>  <?php Mage::helper('mana_filters')->renderHtml($this, 'menu_container_css', array('filter' => $_filter)); ?> <?php echo $_filter->getData('mobile') ? 'm-mobile' : '' ?>">
                    <div class="m-ln" data-id="<?php echo $_filterHelper->getFilterLayoutName($this, $_filter->getFilterOptions()) ?>">
                        <div class="m-horizontal-actions">
                            <?php Mage::helper('mana_filters')->renderHtml($this, 'menu_name_before', array('filter' => $_filter)); ?>
                            <div class="m-expand-collapse">
                                <div class="btn-expand-collapse"></div>
                            </div>
                        </div>
                        <span><?php echo $this->__($_filter->getName()) ?><i class="arrow"></i></span>
                        
                    </div>
                    <?php if($_filter->getHtml()): ?>
                        <div class="filter-drop">
                            <?php echo $_filter->getHtml() ?>
                        </div>
                    <?php endif; ?>
                </div>
                </li>
                <?php endif; ?>
                <?php endif; ?>
                <?php endforeach; ?>
                
                </ul>

            </div>
            <script type="text/javascript">decorateDataList('narrow-by-list')</script>
        <?php endif; ?>
        <?php if (Mage::helper('mana_core')->isMageVersionEqualOrGreater('1.7') && $this->getLayer()->getState()->getFilters()) : ?>
        <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><i class="fa-times fa"></i><?php echo $this->__('Clear All') ?></a></div>
        <?php endif; ?>
</div>
<?php endif; ?>

<script>
    jQuery(document).ready(function($) {
        
        function clickintent(element_avoid) {
            jQuery(element_avoid).click(function(event) {
                /* Act on the event */
                event.stopPropagation();
            });
        }

        jQuery('.right-filter .filter-wrapper li .m-checkboxes .m-ln').click(function(event) {
            /* Act on the event */
            jQuery('.right-filter .filter-wrapper li .m-checkboxes .filter-drop').slideUp('fast');
            if(jQuery(this).next('.filter-drop').is(':hidden')){
                jQuery(this).next('.filter-drop').slideToggle('fast');
            }
            event.preventDefault();
            event.stopPropagation();
        });
        
        clickintent('.right-filter .filter-wrapper li .m-checkboxes .filter-drop');

        jQuery('body,html').click(function(event) {
            /* Act on the event */
            jQuery('.right-filter .filter-wrapper li .m-checkboxes .filter-drop').slideUp('fast');
        });

    });
</script>













