<?php
/*
*Created by juno
*/
?>
    <div class="page-title">
        <h1><?php echo $this->__('Newsletter Subscription') ?></h1>
    </div>
    <div class="col-main">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('form_before') ?>
    <div class="address-book-edit">
        <div class="margin1">
            <form action="<?php echo $this->getAction() ?>" method="post" id="form-validate">
                <div>
                    <?php echo $this->getBlockHtml('formkey') ?>
                    <h3><?php echo $this->__('Newsletter Subscription') ?></h3>
                    <ul class="form-list">
                        <li class="control"><input type="checkbox" name="is_subscribed" id="subscription" value="1"
                                                   title="<?php echo $this->__('General Subscription') ?>"<?php if ($this->getIsSubscribed()): ?> checked="checked"<?php endif; ?>
                                                   class="checkbox"/><label
                                for="subscription"><span class="i"></span><?php echo $this->__('General Subscription') ?></label></li>
                        <?php /* Extensions placeholder */ ?>
                        <?php echo $this->getChildHtml('customer.form.newsletter.extra') ?>
                    </ul>
                </div>
                <div class="a-right">
                    <button type="submit" title="<?php echo $this->__('Update') ?>" class="button left">
                        <span><span><?php echo $this->__('Update') ?></span></span></button>
                </div>
            </form>
            <?php /* Extensions placeholder */ ?>
            <?php echo $this->getChildHtml('customer.form.newsletter.extra2') ?>
        </div>
    </div>
    </div>
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    //]]>
</script>
