<?php
/*
*Created by juno
*/
?>
<div class="page-title">
    <h1><?php echo $this->__('Account Dashboard') ?></h1>
</div>
<div class="col-main">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <?php //echo $this->getChildHtml('top') ?>
        <?php echo $this->getChildHtml('hello') ?>
        <?php /* Extensions placeholder */ ?>
        <?php echo $this->getChildHtml('customer.account.dashboard.extra') ?>
        <?php echo $this->getChildHtml('info') ?>
        <?php echo $this->getChildHtml('address') ?>
        <?php echo $this->getChildHtml('info1') ?>
        <?php echo $this->getChildHtml('info2') ?>
</div>
<?php echo $this->getChildHtml('shop_list');  ?>
