<div class="filter-top-cat-view">
	<div class="contents-small"><!-- 1877 -->
		<div class="left-social">
			<ul>
			<?php $fb_url = Mage::helper('checkout/url')->getCurrentUrl(); ?>
			<?php if($fb_url): ?>
				<?php $fb_url=$fb_url; ?>
			<?php else: ?>
				<?php $fb_url=$this->getUrl(); ?>
			<?php endif; ?>
			<li>
			<div class="fb-like" data-href="<?php echo $fb_url; ?>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
			<li>
						<a href="https://twitter.com/share" class="twitter-share-button"></a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</li>
			<li><!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium"></div></li>
			</ul>
		</div>
		<div class="right-filter">
			<?php echo $this->getChildHtml('above_products_new') ?>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		jQuery('.filter-wrapper > li').each(function(index, el) {
			jQuery(this).find('select').selectBoxIt({
				autoWidth:false
			});
		});
	});
</script>
