<?php
/**
 * Category view template
 *
 * @see Mage_Catalog_Block_Category_View
 */
?>
<?php
$_helper    = $this->helper('catalog/output');
$_category  = $this->getCurrentCategory();
$_landing = $this->helper('landingpages');
$_imgHtml   = '';
if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<div class="category-image" style="background:url('.$_imgUrl.') 0 center no-repeat;background-size:cover;"></div>';
//    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
}else{
    $_imgHtml = '<div class="category-image" style="background:url('.$this->getSkinUrl('images/category-banner.jpg').') 0 center no-repeat transparent; background-size:cover;"></div>';
}
/**
 * Check if the landing page data exists, if it does show that, else show the category data.
 */
if($_landingData = $_landing->getLandingData()):
?>
    <div id="category-top" class="full-screen-banner">
        <?php echo $_imgHtml ?>
        <div class="text-wrapper">
        <div class="text">
            <?php if($_landingData['title']): ?>
                <h1><?php echo $_landingData['title'] ?></h1>
            <?php else: ?>
                <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
            <?php endif; ?>
            <?php if($_landingData['description']): ?>
                <div class="category-description std">
                    <?php echo $_landingData['description'] ?>
                </div>
            <?php endif; ?>
        </div>
        </div>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php else: ?>
    <div id="category-top" class="full-screen-banner">

        <?php echo $_imgHtml ?>
        <div class="text-wrapper">
        <div class="text">
            <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
                <?php if($_description=$this->getCurrentCategory()->getDescription()): ?>
                <div class="category-description std">
                    <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
                </div>
            <?php endif; ?>
        </div>
        </div>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php endif; ?>

<!--filter at top with static html-->
<?php echo $this->getChildHtml('filter_top') ?>


<?php if($this->isContentMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>

<?php elseif($this->isMixedMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
    <?php echo $this->getProductListHtml() ?>

<?php else: ?>
    <?php echo $this->getProductListHtml() ?>
<?php endif; ?>
