.cart ,.shopping-empty {width: 100%;margin: 0 auto;max-width: 1400px}
.price {font-family:$basker;}
.input-text.qty {width: 30px;}
.cart-totals-wrapper {
  width: 100%;margin: 25px 0 0;
  .cart-totals {
      float: right;
      clear: both;margin-bottom: 25px;
      #shopping-cart-totals-table td {font-size: 18px;}
      #shopping-cart-totals-table td.a-left {text-transform: uppercase;padding:0 72px 12px;font-family: $basker;
        strong {font-family: $basker;}
      }
    #shopping-cart-totals-table td.a-right {padding: 0 0 12px;}
  }
  .tools {width: 100%;clear: both;
    .cart-bt {position: relative;
      .button.grey-bt.center {margin: 0 auto;width: 265px;position: absolute;left: 50%;margin-left: -135px;}
    }
  }
}
.qty-container {clear:both;overflow: hidden;float: left;margin-left: 28px;
  input {margin: 0 5px;}
}
.qty-container ~ button {clear: both;float: left;padding: 0;margin: 5px 0 0 67px;}
.btn-remove {color: $grey;margin-top:30px;float: left;}
.cart-forms {@include border_bottom;padding: 2*$gap 0;overflow: hidden;
  .shipping {float: right;margin-bottom: $gap;width: 555px;
    .buttons-set {float: right;width: 415px;margin-left: 5px;}
    label {float: left;margin: 7px 0 0;}
    input {float: left;width: 273px;}
    button {float: right;margin-left: 5px;}
  }
  #discount-coupon-form {float: right;clear: both;width: 500px;
    .field-wrapper {float: right;width: 415px;margin-left: 5px;}
    label {float: left;margin: 7px 0 0;}
    input {float: left;width: 273px;}
    button {float: right;margin-left: 5px;}
  }
}
.shipping-form {
  .form-list {float: left;width:auto;}
}