.contacts-index-index {
  .main {position: relative;}
}
.full-screen-banner {position: absolute;left: 0;width: 100%;top:0;
  .text-wrapper {position: relative;width: 100%;text-align: center;
    h1 {@include h1_title;color: #fff;font-size: 70px;margin-bottom: 30px;
        @media (max-width:1000px ) {
          font-size:45px;
        }
    }
    h4 {color: #fff;font-family: $basker;font-size: 20px;}
    p.center {color: #fff;width: 748px;margin: 0 auto;}
  }
  img {width: 100%;}
}
.contact-us {width: 920px;margin: 0 auto;margin-bottom: 80px;@include clearfix;
  .left-contact {float: left;width: 49%;padding-right: 4%;box-sizing:border-box;
    h3 {text-transform: uppercase;font-size:15px;font-family:$basker_semi;
      &.slim-arrow {margin-bottom: 5px;}
    }
    .block-c {margin-bottom: 25px;}
    @include bp(max-width,960px){
      width: 100%;padding-right: 0;
    }
  }
  .contact-form {float: right;width: 45%;@include border_x(left);padding-left: 5%;
    h3 {text-transform: uppercase;font-size:15px;font-family:$basker_semi;}
    .form-list {margin-top: 20px;
      label {}
      input {clear: both;float: left;width: 100%;box-sizing: border-box;}
      textarea {height: 137px;}
    }
    @include bp(max-width,960px){
      width: 100%;padding-left: 0;border: none;
    }
  }
    @include bp(max-width,960px){
      width: 100%;
    }
}
.opening-times {
  .date {width: 83px;display: inline-block;}
}
.our-showrooms {
  max-width: 1200px;padding-top: 70px;position: relative;margin: 0 auto;width: 100%;
  h2 {@include h2_title;}
  .showroom {float: left;clear: both;width: 100%;@include border_x(bottom);padding-bottom: 35px;margin-bottom:35px;
    .img-left {float: left;width: percentage(580px/1200px);}
    .content-right {
      float: right;width: percentage(540px/1200px);margin-top: 75px;
      h3 {text-transform: uppercase;margin-bottom: 22px;}
      address {width: 100px;font-style: normal;font-size: $fz_base;margin-bottom: 20px;line-height: 1.5em;}
    }
    .content-left {@extend .content-right;float: left}
    .img-right {@extend .img-left;float: right;
      img {width: 100%;}
    }
    &.last {border: none;}
  }
  &.the-vision {max-width: 1384px !important;
    h2 {text-align: left;font-size: 40px;margin-bottom: 20px;}
    h4 {font-family: $basker;}
  }
}

/*about us page*/
.top-contact {
  max-width: 1385px;margin: 0 auto 38px;overflow: hidden;width: 100%;
  .left {width: percentage(385px/1385px);}
  .right {width: percentage(920px/1385px);}
  h2 {@include h1_title;text-align: left;margin-bottom: 30px;}
  h4 {font-family: $basker;font-size: 17px;}
}
.full-middle-banner {
  position: relative;float: left;clear: both;width: 103.5%;margin-bottom: 40px;margin-left: -1.55%;
  .text {position: absolute;width: 100%;top: 20%;text-align: center;
    .text-inner {display: inline-block;width: 30%;background: #fff;padding: 40px 50px;
      h2 {font-size: 40px;text-transform: uppercase;}
    }
      @media (max-width:1390px ) {
        position: static;float: left;width: 100%;clear: both;
        .text-inner {width: 70%;padding: 0;margin: 20px auto 0px;}
      }
  }
  img {width: 100%;}
  &.showroom-map {
    #map {width: 100%;height: 700px;}
  }
}

.find-out-more {
  clear: both;max-width:1383px;margin: 0 auto;width: 100%;
  h2 {@include h1_title;}
  ul li {
    width: 30%;float: left;margin-right: 5%;text-align: center;
    h3 {text-transform: uppercase;margin: 25px 0 20px;}
  }
}

/*press*/
.press-page{width: 100%;max-width: 1290px;margin: 0 auto;} 
.press-page .title-press-page{font-size: 36px; text-align: center; text-transform: uppercase;}
.press-page .des-press-page{text-align: center; width: 670px; margin: 12px auto 60px;}
.press-page-wrap{width: 100%; overflow: hidden; border-bottom: 1px solid #d4d4d4; margin-bottom: 20px;}
.press-page-wrap p{margin: 7px 0; padding: 0; color: #111111;}
.press-page-wrap .press-page-item{text-align: center; width: 100%; overflow: hidden; margin-bottom: 25px;}
.press-page-wrap .press-page-item .link-press-item{text-transform: uppercase; font-size: 20px; font-family: "BaskervilleMTW01-Roman"; display: block; margin-top: 15px;}
.press-page-wrap .press-page-item .calendar-press-item{font-size: 16px; font-family: "BaskervilleMTW01-Roman";}
.press-page-wrap .press-page-item .caption-press-item{width: 660px; margin: 7px auto 7px;}
.press-page-pagination{width: 100%;}
.press-page-pagination .press-pagination-wrap{margin: 0 auto; display: table;}
.press-page-pagination .press-pagination-wrap a{cursor: pointer; text-transform: uppercase; float: left; font-size: 13px; border: 1px solid #d4d4d4; padding: 6px 12px;}
.press-page-pagination .press-pagination-wrap span{float: left; text-transform: uppercase; font-size: 12px; margin: 6px 7px 0 0;}
.press-page-pagination .press-pagination-wrap .press-pagination-button{float: left;}
.press-page-pagination .press-pagination-wrap .press-pagination-button li{float: left;}
.press-page-pagination .press-pagination-wrap .press-pagination-button a{margin-right: 5px; color: #797979;}
.press-page-pagination .press-pagination-wrap .press-pagination-button a.active{color: #111111;}

@media all and (max-width: 700px){
  .press-page .des-press-page, .press-page-wrap .press-page-item .caption-press-item{width: 100%;}
}

/*cms 2 column style*/
.col-left {
  .navigation.cms {padding-top: 137px;}
}

.faq {margin-bottom: 90px;
  ul.item-collapse li {
    h4 {cursor: pointer;text-transform: uppercase;font-family: $basker;}
  }
}
/*showroom*/
.full-screen-banner {
    .banner-inner {position: relative;
        #bx-pager {position: absolute;bottom: 0;background: $blue_o_white;width: 100%;padding: 12px 0;text-align: center;height: 48px;
          a {display: inline-block;height: 48px;margin: 0 4px;
            img {height: 45px;}
            &.active {
              img {              -webkit-box-shadow: 0px 0px 0px 3px rgba(204,204,204,0.6);
              -moz-box-shadow: 0px 0px 0px 3px rgba(204,204,204,0.6);
              box-shadow: 0px 0px 0px 3px rgba(204,204,204,0.6);}
            }
          }
        }
    }
}
.showroom-box {
  h1 {@include h1_title;}
  .three-column {width: 100%;max-width:1240px;margin: 0 auto;
    .col {
      width: 31%;float: left;margin-right: 3.37%;background: url(../images/dot-1px.jpg) right 0 repeat-y;
      &:nth-child(3n) {margin-right: 0;border-right: none;background: none;}
      h4 {display: block;text-transform: uppercase;font-family: $basker;clear: both;margin: 0 0 18px;}
      .block {margin-bottom: 40px;@include clearfix;
        @media (max-width:670px ) {
          width: 100%;text-align: center;
        }
      }
      @media (max-width: 670px) {
          width: 100%;margin: 0;background: url(../images/dot-1px.jpg) 0 bottom repeat-x;text-align: center;padding-bottom: 10px;margin-bottom: 20px;
      }
    }
  }
}
.opening-hours {
  .day {float: left;margin-top: 0;width: 110px;}
  .hours {float: left;margin-top: 0;}
}

.shop-list.no-border {margin: 0;padding: 0;}

/*about listing*/
.cms-listing {@extend .crosssell;margin: 0;padding-top: 20px;
  ul {width: 100%;clear: both;}
  ul li {margin-bottom: 40px;text-align: center;max-height:282px;overflow: hidden; 
    &:nth-child(4n) {margin-right: 0;}
    .product-details {height: 58px !important;}
    img {float: none !important;width: 100%;display: block;
    }
  }
}
/*about single*/
.top-tight-banner {margin-bottom: 45px;
  ul.bxslider li {
    img {}
  }
}
.about-single {
  width: 100%;max-width:1200px;margin: 0 auto;
}
.breadcrumb-wide {background: $blue;opacity: 0.95;
  strong {color: #fff !important;}
}
#single-gallery {@include border_x(top);padding-top: 24px;text-align: center;
  li {margin:0 percentage(17px/1200px) 20px 0;float: left;text-align: center;width: 23.93333333%;
    &:nth-child(4n) {margin-right: 0;}
    img {float: left;}
  }
}
.middle-single {
  width: 100%;max-width:1200px;margin:0 auto 80px;
  h1 {@include h1_title;}
}
/*cms generic page*/
ol {counter-reset: li-counter;
  li{
          position: relative;font-size: $fz_base;margin-bottom: 7px;
          &:before {
            font-family: $bold; 
            position: absolute;
          top: 0;
          left: -1.5em;background: #fff;
          width: 0.8em;

          text-align: right;

          content: counter(li-counter)'.';
          counter-increment: li-counter;
          }
        }
}
ul li {font-size:$fz_base ;margin-bottom: 7px;}
ol.indicator li:before {content: "";}





