/*
  Crosssell Style
  Author : Juno
*/
.line-fixed {position: absolute;@include border_bottom;width: 1000%;left: -400%;top:0;}
.crosssell {@include break_down;margin: 54px 0 0;position: relative;padding-top: 50px;
  h2 {@include h2_title;}
  ul {
    li {float: left;width:23%;margin-right:2.66%;text-align: center;position: relative;
        .product-image {float: left;width: 100%;
          img {float: left;}
        }
        .product-details {position: absolute;bottom: 0;left: 0;background: $blue_o;text-align: center;width: 100%;
          height: 58px;overflow: hidden;
          .inner {padding: 20px 10px 0;}
          h3 {@include product_name;max-height: 57px;margin-bottom: 20px;}
          p.product-descripton {color: $white;display: none;}
          .a-button-small {float: none;margin-bottom: 20px;
            display: none;
          }
        }
      &:hover {
        .product-details {height: 150px;}
        h3 {}
        p.product-descripton {display: block;}
        .a-button-small {opacity: 1;display: inline-block;}
      }

      @include bp("max-width",960px){
        width: 47%;margin-bottom: 40px;
        &:nth-child(2n) {
          margin-right:0;float: right;
        }
      }

    }
  }
}