/*=============================
=            login            =
=============================*/
.action-bt {width: 100%;clear: both;overflow: hidden;margin: 25px 0;float: left}

.account-login {
	width: 415px;margin: 0 auto;
	.page-title {
		border: none;padding: 0;
		h1 {text-align: left;font-size: 37px;}
	}
	input {width:100% !important;}
	ul.form-list {
		li {margin-bottom: $gap;}
	}
	.actions {@extend .action-bt; 
		a.right {font-size: $fz_base_l;text-decoration: underline;margin-top: 15px;}
	}
	.border-p {@include border_top;@include border_bottom;clear: both;overflow: hidden;margin-bottom: 10px;
		padding: $gap 0;
	}
	.secure {
		i {color: $grey;font-size: 1.2em;}
	}
}
.account-create {@extend .account-login;}
.form-list {width: 100%;clear: both}
.newsletter-checkbox {float: left;clear: both;width: 100%;margin: 10px 0 -15px;}

#login-form {
  .form-list .input-box input {width: 100%;}
}

/*-----  End of login  ------*/
.dashboard-page {
  width: percentage(.9);margin: 0 auto;@include clearfix;
  .col-left {float: left;width: percentage(.215);}
  .col-main {float: right;width: percentage(.735);@include border_x(left);padding-left: percentage(37px/1190px);}
}
.dashboard-main {margin-bottom: 30px;@include clearfix;width: 100%;}
.col2-set {@include clearfix;margin-bottom: 30px;
  h3 {text-transform: uppercase;font-size: $fz_base_xl;margin-bottom: 15px;font-weight: normal !important}
  .col-1 {float: left;width: 350px;}
  .col-2 {float: left;width: 350px;}
  a {text-decoration: underline;font-size: $fz_base;}
  address {font-style: normal;font-size: $fz_base;}
  .box {
    .box-content {
      > p {margin-bottom: 5px;}
    }
  }
  ol {list-style: none;padding: 0;margin:0; }
}
.navigation {
  ul li {
    font-family: $basker;font-size: $fz_base;text-transform: uppercase;margin-bottom:7px;text-align: right;
    strong {font-family: $basker;text-decoration: underline;}
  }
}
.welcome-msg {margin-bottom: 30px;
  p strong {font-family: $basker;text-transform: uppercase;font-size: 15px;}
}
.dashboard-page {
  .form-list li {
    input {width: 415px;box-sizing: border-box;margin-right: 20px;clear: both;float: left;}
    &.fields {
      div.field {float: left;}
    }
  }
}

.form-list {
  li {width: 100%;clear: both;margin-bottom: 15px;@include clearfix;
    label {display: block;float: left;
      em {float: right;}
    }
  }
}

.customer-name {
  > .field {float: left;
    input {width: 415px;box-sizing: border-box;margin-right: 20px;}
  }
}
.fieldset {
  h2.legend {text-transform: uppercase;font-size: 15px;font-weight: normal;margin-bottom: 20px;}
}
.margin-bottom1 {margin-bottom: 40px;}
.address-book-edit h3 {text-transform: uppercase;font-size: $fz_base_xl;margin-bottom: 15px;font-weight: normal !important}
#my-orders-table {
  th {width: 15%;text-align: left;}
  th.delivery {width: 25%;}
}
.order-details {
    #my-orders-table {margin:15px 0 20px;
        th {width: 15%;text-align: left;}
        th.name {width: 55%;}
        tfoot {
          clear: both;width: 100%;
          td {text-align: right;text-transform: uppercase;font-size: 18px;font-family: $basker;}
          tr.first td {padding-top: 20px;}
          td.last {text-align: right;font-size: 18px;}
          .grand_total {
            td strong {color: #111 !important;font-size: 20px !important;font-family: $basker;font-weight: normal !important;}
          }
        }
        tbody {
          td {vertical-align: middle;}
          div.img {float: left;}
            .product-name {text-transform: uppercase;font-weight: normal;}
            .item-name {float: left;}
        }
    }
}

.view-order-link {text-transform: uppercase;font-family: $basker;
  span {padding-left: 4px;}
}





