.main_logo {
	display: block;
	@media all and (max-width : 615px) {
		display: none;
	}
}
.smaller_logo {
	display: none;
	@media all and (max-width : 615px) {
		display: block;
	}
}
/*search*/
.nav_search {
	padding:14px 20px !important;opacity: 1 !important;
	input {border: none;width: 80%;font-size: 1.1em;text-transform: uppercase !important;}
}
