.onepage-checkout {
  max-width: 1400px;width:100%;margin: 0 auto;
  .page-title {position: relative;margin-top: 45px;
    img {position: absolute;right: 0;top:0;}
  }

  .left-part {float: left;width: percentage(910px/1400px);
    ul.opc {padding-left: 0;
      li.section {
        @include border;padding: 40px 45px 20px;box-sizing: border-box;margin-bottom: 2*$gap;
        h2 {text-transform: uppercase;font-size: $fz_base_xxl;font-weight: normal;margin-bottom: 22px;cursor: pointer;}
        .step-title {position: relative;
          a {position:absolute;right:0;top: 30%;text-decoration: underline;}
        }
      }
      .buttons-set {@include clearfix ;width: 100%;
        button {@include clearfix ;}
      }
    }
  }
  .right-part {float: right;width: percentage(465px/1400px);
    .block {@include border;margin-bottom: 25px;
      padding: 30px percentage(137px/1400px);
    }
  }

  .col2-set {width: 100%;
    .col-1 {width: 47%;}
    .col-2 {width: 47%;float: right;}
  }

}
.checkout-onepage-index {
  .header-part-2 {height: 135px;
    .opacity-div {height: 135px;}
  }
  footer {margin-top: 50px;}
  footer .footer-copyright {margin: 35px 0 40px;}
}
h4.title {text-transform: uppercase;font-family: $basker;}
/*Billing Form*/
#co-billing-form {
  ul.form-list {
    li {
        .field {float: left;width:48.78%;margin-right: percentage(20px/819px);
          &:nth-child(2n) {margin-right: 0;}
        }

      input {width:100%;}
    }
  }
}
/*checkout methods*/
dl.sp-methods {
  dt {
    label {background: none;padding-left: 0;}
  }
  dd {padding-left: 0;margin-left: 0}
  .payment-method-item {
    @include clearfix;
  }
}
.please-wait {float: left;clear: both;margin-top: 20px;line-height: 47px;
  img {float: left;margin-right: 20px}
}
.name-checkout {width: 70%;text-transform: capitalize !important;}
.qty-checkout {width: 15%;text-transform: capitalize !important;}
.subtotal-checkout {width: 15%;text-transform: capitalize !important;}
.product-name-checkout {font-family: $semi;font-size: 13px;font-weight: normal;}
#checkout-review-table-wrapper {
  .price {font-family: $regular;}
  tfoot td.a-left {text-align: right !important;}
}