/*
  Product Base:
  1.product name h1_title;
*/
/*left-product*/
#left-product {
  overflow: hidden;
  width: percentage(1322px/1826px);float: left;
  .social {
    @include break_down;margin-top: 20px;
    ul li {float: left}
  }
  .create-the-look {
    @include break_down;
    height: 60px;display: block;background: $grey_bg;
    text-transform: uppercase;box-sizing:border-box;padding: 22px 0 0 25px;margin-top: 25px;
    i {padding-left: 10px;font-style: normal;}
  }
  .other-options {@include clearfix;float: left;width: 100%;margin-top: 30px;
    h2 {text-transform: uppercase;font-family: $regular;font-size: $fz_base_xxl;margin-bottom: 10px;}
  }
}
/*left-product*/
/*right-product*/
#right-product {
  overflow: hidden;
  width: percentage(400px/1826px);float: right;
  h1 {@include h1_title;margin: 83px 0 25px;text-align: left;}
  .product-description {
    font-size: $fz_base;
  }
  .its-all-in-the-detail {
    p.title {text-transform: uppercase;margin-bottom: 10px}
    ul li {
      a {font-size: $fz_base;}
    }
  }
  .buttons {margin-top: 15px;
    button {width: 100%;margin-top: 10px}
    a {width: 100%;box-sizing:border-box;margin-top:$gap;text-align: center;}
  }
  .choose-your-size {
    p.title {text-transform: uppercase;}
  }
}
.attr {
  strong {width: 58px;margin-right: 50px;display: inline-block;}
}
.attr-price {font-size: $fz_base_xxl;}
/*right-product*/

/*its-all-in-the-detail-wide*/
.its-all-in-the-detail-wide {
  overflow: hidden;margin-top: 100px;background: #F5F5F5;
  @include break_down;width: 104%;margin-left: -2%;
      div.left {width:percentage(540px/1980px);padding:80px percentage(80px/1980px) 0; box-sizing:border-box;
          h3 {text-transform: uppercase;margin-bottom: 20px}
      }
      div.right {width:percentage((1980px - 540px)/1980px);float: right;}
}
ul.item-collapse {
  li {@include border_x(top);margin:0;
    >p {cursor: pointer;margin:10px 0}
    .content {display: none;
      p {margin: 0 0 14px;}
    }
    &:nth-child(1) {border-top: none;}
    /*add h4.title*/
    h4.title {margin-bottom: 10px;}
    &.active {
      h4.title i::before {content:"\f0da"}
    }
  }

}
/*its-all-in-the-detail-wide*/
/*product-extra*/
.product-extra {margin-top: 25px;
  ul li  {position: relative;
    > p {text-transform: uppercase;}
      a.right {float: right;font-size: $fz_base;position: absolute;right: 0;top: 10px}
  }
}
/*product-extra*/

/*product-support*/
.product-support {
  @include break_down;margin-top: $gap*7;
    div.left {width: percentage(1240px/1899px);padding-right: percentage(40px/1899px);@include border_x(right);}
    div.right {width: percentage(579px/1899px);
        .journal-block {text-align: center;border-bottom: 2px solid #E0E0E0;margin-bottom: 40px;padding-bottom: 30px;
          h2 {text-transform: uppercase;font-size: 30px;margin-bottom: 20px;}
          h3 {text-transform: uppercase;margin-bottom: 25px;}
        }
        .support-block {text-align: center;
          h3 {text-transform: uppercase;font-size: 25px;margin-top: 30px;}
          p {
            line-height: 1.5em;
            a {text-decoration: underline;}
          }
        }
    }
}
/*product-support*/
/*block-related*/
.block-related {
  @include break_down;
  @extend .crosssell;
  @extend #product-list;
  h2 {font-family: $regular;text-transform: uppercase;}
  .products-grid > li {float: left;width:23% !important;margin:0 2%  0 0 !important;text-align: center;
    h2 {margin-bottom: 0}
  }
}
/*block-related*/

#magento-media{
  float: left;clear: both;
  .inner {}
  .product-image {}

}

.product-image-gallery {
  position: relative;
  .guarantee-15-year {background: url('../images/guarantee-15-year.png') 0 0 no-repeat;width: 115px;height: 115px;display: block;position: absolute;right: 20px;bottom: 20px;}
  .gallery-image {
    display: none;

    &.visible {
      display: block;

      &.hidden {
        visibility:hidden;
      }
    }
  }
}
  .more-views {
      @include clearfix;background: $grey2;width: 100%;padding: 12px 0;width: 100%;text-align: center;
      .product-image-thumbs {
        li {margin-right: 12px;display: inline-block;
          a {overflow: hidden;float: left;}
        }
      }
  }


.product-collateral {
    clear: both;overflow: hidden;border: 1px solid #E0E0E0;
    @include tabs;width: 100%;
}

.collateral-tabs {
    dd {
        h2 {
            display: none;
        }
    }
}

.box-collateral {
    clear: both;
}
.product-collateral .tab-container {
  .tab-content {
    padding:20px 40px 25px;
    .title {
      font-weight: bold;
    }
    .fed-select-container {
      li {float: left;margin-right: 47px;opacity: .3;
        > img {cursor: pointer;}
        .radio-box {
          p.name {
            strong {float: left;margin-right: 5px;}
          }
        }
        &.active {opacity: 1;}
      }
      .dimensions-change {@include break_down;margin-top: 2*$gap;border-top: 1px solid $grey2;
        p {float: left;margin-right: 10px;}
      }
    }
  }
}
.build-section {
    position: relative;margin-bottom: 40px;
    h2 {@include h2_journal;}
    > a {position: relative;z-index: 1;}
    .text {
      width: percentage(740px/1240px);padding:0 percentage(40px/920px) 2em;
      background: #fff;overflow: hidden;
      margin: -77px auto 0;
      text-align: center;z-index: 2;position: relative;
      h2 {padding-top: 1.3em;margin-bottom: 1em;
      }
    }
}

.wishlist-wrapper {
  @extend #product-list;
  .products-grid li {width: 23.8% !important;}
}
.option-select-title {
  clear: both;
}
.option-select-item {
  width: 20%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  opacity: .3;
  &:hover {
    opacity: .7;
  }
  &.active {
    opacity: 1;
  }
  img {
    display: block;
    margin: 0 auto 10px;
  }
  input {
    display: inline-block;
  }
}
.option-select-item-small {
  @extend .option-select-item;
  float: left;
  min-width: 150px;
  label {
    float: none;
    cursor: pointer;
  }
}
ul.tab2-left-col {
  float: left;
  width: 30%;
  padding-right: 20px;
  box-sizing: border-box;
  li {
    height: 30px;
    margin: 0;
    line-height: 30px;
    cursor: pointer;
    &.tab2-left {
      border-top: 1px solid #E0E0E0;
      &.active {
        font-weight: bold;
      }
      &:hover {
        background: #F6F6F6;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}
ul.tab2-right-col {
  float: left;
  width: 70%;
}
.tab2-left, .tab2-right, .option-select-item-small {
  display: none;
  &.visible {
    display: block;
  }
}
.btn-next {
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #111;
  clear: both;
  display: inherit;
  font-size: 10pt;
}