.search-no-result {text-align: center;width: 410px;margin: 0 auto;
  p.note-msg {margin: 25px 0;}
}
.mb-search-result .page-title {padding-bottom: 0;}
.search-again {width: 410px;
  .title {float: left;margin: 7px 0 0 }
  #search_mini_form {float: right;
    input {border: none;padding: 8px;float: left;width: 250px;}
    .form-search {@include border;width: 306px;overflow: hidden;
      button {@include border_x(left);float: right;margin: 7px 5px 0 0;padding-left: 10px;}
    }
  }
}
.shop-list {@extend .crosssell;
    li:hover {
      .product-details {
        height: 58px !important;
      }
    }
}
