<?php //throw new Exception("stop") ?>
<div class="page-404">
    <div class="page-title">
        <h1><?php echo $this->__('Page Not Found') ?></h1>
    </div>
    <p class="a-center">
        If you typed the URL directly please make sure the spellng is correct.
        If you clicked on a link to get here, the link is outdated
    </p>
    <div class="absolute-center">
    <h3>What can you do?</h3>

    <a class="a-button-grey" href="<?php echo $this->getUrl("customer/account");  ?>">Go to Account</a>
    <a class="a-button" href="<?php echo $this->getUrl();  ?>">Go to homepage</a>
    </div>
    <?php echo $this->getChildHtml('shop_list'); ?>
</div>
