<?php $banner = Mage::getModel('banners/image')->getCollection();?>
<?php $banner->addFieldToFilter('code', 'about-indigo-story');?>
<?php $banner->addFieldToFilter('status', 1); ?>
<?php $banner->setOrder('sort_order', 'asc');?>
<div class="full-screen-banner">
<?php foreach($banner as $ban): ?>	
<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>"  class="base_img"/>
<div class="text-wrapper">
<div class="text">
	<h1><?php echo $ban['title'];?></h1>
	<h4><?php echo $ban->getDescription()?></h4>
</div>
</div>
<?php endforeach; ?>
</div>

	<?php $banner = Mage::getModel('banners/image')->getCollection();?>
    <?php $banner->addFieldToFilter('code', 'about-humble-beginnings');?>
    <?php $banner->addFieldToFilter('status', 1); ?>
    <?php $banner->setOrder('sort_order', 'asc');?>
    <?php foreach($banner as $ban): ?>	
<div class="top-contact">
    <div class="left">
        <h2><?php echo $ban['title'];?></h2>
        <?php echo $ban->getDescription()?>
    </div>
    <div class="right">
        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" />
    </div>
</div>
	<?php endforeach; ?>
    
	<?php $banner = Mage::getModel('banners/image')->getCollection();?>
    <?php $banner->addFieldToFilter('code', 'about-we-are-now');?>
    <?php $banner->addFieldToFilter('status', 1); ?>
    <?php $banner->setOrder('sort_order', 'asc');?>
    <?php foreach($banner as $ban): ?>	
<div class="full-middle-banner">
    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" />
    <div class="text">
        <div class="text-inner">
        <h2><?php echo $ban['title'];?></h2>
            <p><?php echo $ban->getDescription()?></p>
        </div>
    </div>
</div>
	<?php endforeach; ?>
    
	<?php $banner = Mage::getModel('banners/image')->getCollection();?>
    <?php $banner->addFieldToFilter('code', 'about-the-vision');?>
    <?php $banner->addFieldToFilter('status', 1); ?>
    <?php $banner->setOrder('sort_order', 'asc');?>   
    
<div class="our-showrooms the-vision">
    <?php  $i=0;foreach($banner as $ban): ?>	    
    <?php if($i==0):?>
    <div class="showroom">
        <div class="img-left">
           <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" />
        </div>
        <div class="content-right">
            <h2><?php echo $ban['title'];?></h2>
            <?php echo $ban->getDescription()?>
        </div>
    </div>
    <?php else:?>
    <div class="showroom last">
        <div class="content-left">
            <h2><?php echo $ban['title'];?></h2>
            <?php echo $ban->getDescription()?>
        </div>
        <div class="img-right">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" />
        </div>
    </div>	
    <?php endif;?>
	<?php $i++; endforeach; ?>
</div>
    

	<?php $banner = Mage::getModel('banners/image')->getCollection();?>
    <?php $banner->addFieldToFilter('code', 'about-the-feture');?>
    <?php $banner->addFieldToFilter('status', 1); ?>
    <?php $banner->setOrder('sort_order', 'asc');?>
    <?php foreach($banner as $ban): ?>	
<div class="full-middle-banner">
    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" />
    <div class="text">
        <div class="text-inner">
            <h2><?php echo $ban['title'];?></h2>
            <?php echo $ban->getDescription()?>
        </div>
    </div>
</div>
	<?php endforeach; ?>
<div class="find-out-more">
    <h2>Find out more</h2>
    <ul>
		<?php $banner = Mage::getModel('banners/image')->getCollection();?>
        <?php $banner->addFieldToFilter('code', 'about-find-out-more');?>
        <?php $banner->addFieldToFilter('status', 1); ?>
        <?php $banner->setOrder('sort_order', 'asc');?>
        <?php $i=0; $count = count($banner)-1;?>
        <?php foreach($banner as $ban): ?>	
        <li <?php if($i== $count):?> class="last" <?php endif;?>>
            <a href="<?php echo $ban['url'] ?>">
                        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" /></a>
            <h3><a href="<?php echo $ban['url'] ?>"><?php echo $ban['title'];?></a></h3>
            <p><?php echo $ban->getDescription()?></p>
        </li>
		<?php $i++;endforeach; ?>
    </ul>
</div>
	