<div id="banner" class="home-banner">
    <ul class="slides-container">
      <?php $banner_model = new Juno_Banners_Model_Image(); ?>
      <?php $banners = Mage::getResourceModel('banners/image_collection')->addImageCodeFilter('home-top-banner')-> setOrderByPosition(); ?>
      <?php $flag = true; ?>
      <?php foreach($banners as $banner): ?>
      	<?php $count = 0; ?>
      	<?php if($count < count($banner)):?>
      		<?php $banner = $banner_model->load($banner['image_id']); ?>
      		<?php if( $banner->getStatus() == 1 ): ?>
      			<?php $url = $banner->getUrl(); ?>
      			<li>
        			<?php if($url): $flag = false;?>
                  <div class="div-img" style="background:url('<?php echo $banner->getImageUrl();?>') 0 center no-repeat transparent; background-size:cover;">
        					   <a href="<?php echo $url; ?>"></a>
                  </div>
        			<?php else: $flag = false;?>
                  <div class="div-img" style="background:url('<?php echo $banner->getImageUrl();?>') 0 center no-repeat transparent; background-size:cover;">
        					   
                  </div>
        			<?php endif;?>
                <div class="text">
                    <h2><?php echo $banner['title'];?></h2>
                    <p><?php echo $banner['short_description'];?></p>
                    <a href="<?php echo $url; ?>" class="shop-bt">Shop Now</a>
                </div>
      			</li>
      		<?php endif; ?>
       	<?php endif;?>
      	<?php $count++; ?>
      <?php endforeach; ?>
      <?php if($flag): ?>
              <li><img src="<?php echo $this->getSkinUrl('images/banner.jpg') ?>" alt=""/></li>
      <?php endif; ?>
    </ul>
</div>

<script>
    jQuery(document).ready(function($) {
        jQuery('#banner .slides-container li').each(function() {
           /* iterate through array or object */
            //jQuery(this).find('h2').fitText(1.5,{minFontSize: '50px',maxFontSize: '100px'});
        });
        
        jQuery('#banner .slides-container').bxSlider({mode: 'fade',controls:false});

        
    });
</script>
