<div class="navigation cms">
	<ul>
		<li><a href="<?php echo $this->getUrl('contacts') ?>">Contact Us</a></li>
		<li><a href="#">Materials</a></li>
		<li><a href="#">Guarantees</a></li>
		<li><a href="#">Matlock Showroom</a></li>
		<li><a href="#">Harrogate Showroom</a></li>
		<li><a href="#">Tailor Made Furniture</a></li>
		<li><a href="#">Caring For Your Furniture</a></li>
		<li><a href="#">Where To Stay</a></li>
		<li><a href="#">Indigo Wedding List</a></li>
		<li><a href="#">Delivery &amp; Returns</a></li>
		<li><a href="#">Frequently Asked Questions</a></li>
		<li><a href="#">Term &amp; Conditions</a></li>
		<li><a href="#">Privacy &amp; Security</a></li>
		<li><a href="#">Credits</a></li>

	</ul>
</div>