<div class="faq">
	<ul class="item-collapse">
		<li>
			<h4 class="title">General Questions<i class="fa fa-caret-down right"></i></h4>
			<p>As the name suggests; here you’ll find all manor of general questions you may wish answered.</p>
			<div class="content">
				<p><strong>Do you supply to the Trade?</strong></p>
				<p>We are sorry but we do not currently supply to the trade, we aim to achieve the best possible service to our retail customers and therefore concentrate on giving the best service possible to them. For any bulk orders we will always endeavour to give the best price possible.</p>				
				<p><strong>Where is the furniture made?</strong></p>
				<p>All of our Plank and Oak Ranges are handmade locally here in the Peak District by skilled craftsmen using traditional methods.
Our Vintage Leather Range is manufactured in Europe with the leathers coming in from both Italy &amp; South America. We passionate about supplying good value, high quality furniture and our leather items are no exception; which is backed up by the Legendary guarantees we offer.</p>
			</div>
		</li>
		<li>
			<h4 class="title">Security &amp; Privacy <i class="fa fa-caret-down right"></i></h4>
			<p>We take your personal security and privacy very seriously. To find out more about our policies and safeguards, please refer to the details in this section.</p>
			<div class="content">
				<p>We take your personal security and privacy very seriously. To find out more about our policies and safeguards, please refer to the details in this section.</p>
			</div>
		</li>		
		<li>
			<h4 class="title">Delivery &amp; Returns <i class="fa fa-caret-down right"></i></h4>
			<p>Frequently asked questions about our delivery and returns options.</p>
			<div class="content">
				<p>Frequently asked questions about our delivery and returns options.</p>
			</div>
		</li>		
		<li>
			<h4 class="title">Purchasing &amp; Payment Options <i class="fa fa-caret-down right"></i></h4>
			<p>Find out what payments methods we offer, how to make payments and further information about our financing options.</p>
			<div class="content">
				<p>Find out what payments methods we offer, how to make payments and further information about our financing options.</p>
			</div>
		</li>
	</ul>
</div>







