<div id="home-left-wrapper">
<?php $banner = Mage::getModel('banners/image')->getCollection();?>
<?php $banner->addFieldToFilter('code', 'soft-luxurious');?>
<?php $banner->addFieldToFilter('status', 1); ?>
<?php $banner->setOrder('sort_order', 'asc');?>
<?php foreach($banner as $ban): ?>	

<div class="left-fist-banner">
		<a href="<?php echo $ban['url'] ?>">
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" />
                </a>
		<div class="text">
			<h2><?php echo $ban['title'];?></h2>
			<?php echo $ban->getDescription()?>	
		</div>
	</div>
<?php endforeach; ?>

    
    
    <!-- left-fist-banner -->
	<div class="left-two-small-banner">
    
		<?php $banner = Mage::getModel('banners/image')->getCollection();?>
        <?php $banner->addFieldToFilter('code', 'home-comfort');?>
        <?php $banner->addFieldToFilter('status', 1); ?>
        <?php $banner->setOrder('sort_order', 'asc');?>
        <?php foreach($banner as $ban): ?>	
		<div class="left banner-center-text">
			<a href="<?php echo $ban['url'] ?>">
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" /></a>
			<div class="text">
				<h3><?php echo $ban['title'];?></h3>
				<p><?php echo $ban->getDescription()?></p>	
			</div>
		</div>	
        <?php endforeach; ?>


		<?php $banner = Mage::getModel('banners/image')->getCollection();?>
        <?php $banner->addFieldToFilter('code', 'neat-tidy');?>
        <?php $banner->addFieldToFilter('status', 1); ?>
        <?php $banner->setOrder('sort_order', 'asc');?>
        <?php foreach($banner as $ban): ?>	
		<div class="right banner-center-text">
			<a href="<?php echo $ban['url'] ?>">
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" /></a>
			<div class="text">
            <h3><?php echo $ban['title'];?></h3>				
            <p><?php echo $ban->getDescription()?></p>	
			</div>
		</div>        
		<?php endforeach; ?>

	</div><!-- left-two-small-banner -->
	<?php $banner = Mage::getModel('banners/image')->getCollection();?>
    <?php $banner->addFieldToFilter('code', 'kate-humble');?>
    <?php $banner->addFieldToFilter('status', 1); ?>
    <?php $banner->setOrder('sort_order', 'asc');?>
    <?php foreach($banner as $ban): ?>	
	<div class="famous-friends">
		<div class="photo left">
			<a href="<?php echo $ban['url'] ?>">
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" /></a>
		</div>
		<div class="right">
			<h3><?php echo $ban['title'];?></h3>
			<h4>Famous Friends</h4>
            <p><?php echo $ban->getDescription()?></p>
            <a class="read-more" href="<?php echo $ban->getUrl()?>">Read More <i class="fa fa-caret-right"></i></a>
		</div>
	</div>
    		<?php endforeach; ?>

    <!-- friends -->


</div>