<?php echo $this->getChildHtml('banner'); ?>
<?php echo $this->getChildHtml('middle_banner'); ?>
<div id="middle-home" class="contents">
<?php echo $this->getChildHtml('home_left'); ?>
<?php echo $this->getChildHtml('home_right'); ?>
<div class="home-footer">
	<?php $banner = Mage::getModel('banners/image')->getCollection();?>
    <?php $banner->addFieldToFilter('code', 'our-showrooms');?>
    <?php $banner->addFieldToFilter('status', 1); ?>
    <?php $banner->setOrder('sort_order', 'asc');?>
    <?php foreach($banner as $ban): ?>	

	<div class="our-showroom banner-center-text">
		<a href="<?php echo $ban['url'] ?>">
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" /></a>
		<div class="text">
			<h2><?php echo $ban['title'];?></h2>
			<p><?php echo $ban->getDescription()?></p>
		</div>
	</div>
       		<?php endforeach; ?>
	<div class="indigo-video">
		<div class="banner-center-text">
			<a href="#"><img src="<?php echo $this->getSkinUrl('images/video-bottom.jpg') ?>" alt=""></a>
			<div class="text">
				<h2><i class="fa fa-play-circle-o"></i>A dedication to britain</h2>
				<p>Living British, The Indigo Film</p>
			</div>
		</div>
	</div>

</div>
</div>
<?php echo $this->getChildHtml('home_logos'); ?>

