<?php $banner = Mage::getModel('banners/image')->getCollection();?>
<?php $banner->addFieldToFilter('code', 'journal');?>
<?php $banner->addFieldToFilter('status', 1); ?>
<?php $banner->setOrder('sort_order', 'asc');?>
<?php foreach($banner as $ban): ?>	

<div id="journal-wrapper">
	<h2><?php echo $ban['title'];?></h2>
	<a href="<?php echo $ban['url'] ?>">
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" />
                </a>		
	<div class="text">
		<?php echo $ban->getDescription()?>	
	</div>
</div>
<?php endforeach; ?>


