<?php $banner_model = new Juno_Banners_Model_Image(); ?>
<?php $banners = Mage::getResourceModel('banners/image_collection')->addImageCodeFilter('middle-banner')-> setOrderByPosition(); ?>

<div id="middle-banner">
  <ul class="slider-wrapper">
      <?php $flag = true; ?>
      <?php foreach($banners as $banner): ?>
        <?php $count = 0; ?>
        <?php if($count < count($banner)):?>
          <?php $banner = $banner_model->load($banner['image_id']); ?>
          <?php if( $banner->getStatus() == 1 ): ?>
            <?php $url = $banner->getUrl(); ?>
            <li>
              <?php if($url): $flag = false;?>
                  <a href="<?php echo $url; ?>"><img src="<?php echo $banner->getImageUrl();?>" alt="<?php echo $banner['title'];?>"/></a>
              <?php else: $flag = false;?>
                  <img src="<?php echo $banner->getImageUrl();?>" alt="<?php echo $banner['title'];?>"/>
              <?php endif;?>
                <div class="text">
                    <h2><?php echo $banner['title'];?></h2>
                    <a href="<?php echo $url; ?>" class="shop-bt">Shop Now</a>
                </div>
            </li>
          <?php endif; ?>
        <?php endif;?>
        <?php $count++; ?>
      <?php endforeach; ?>

  </ul>
</div>

<script>
  jQuery(document).ready(function($) {
      

      slider = jQuery('#middle-banner .slider-wrapper').bxSlider({
        auto:true,
        //slideWidth:926,
        moveSlides:1,
        slideMargin:20,
        easing:'ease-in',
        nextText:'',
        prevText:'',
         adaptiveHeight: true,
        onSliderLoad: function(currentIndex){
          jQuery('#middle-banner .slider-wrapper li').eq(currentIndex + 1).animate({opacity: 1}, 750);
          },
        onSlideBefore: function($slideElement){
          jQuery($slideElement).animate({opacity: 1}, 750,function() {
            jQuery($slideElement).siblings().animate({opacity: 0.75}, 250);
          });
          }
      });
    var middle_banner_h = jQuery('#middle-banner .bx-wrapper .bx-viewport').height();
    jQuery("#middle-banner").css('height', middle_banner_h+'px');
    
    jQuery( window ).resize(function() {
        var middle_banner_h =jQuery('#middle-banner .bx-wrapper .bx-viewport').height();
        jQuery("#middle-banner").css('height', middle_banner_h+'px');
    });

  });
</script>