<?php
    $_productCollection = Mage::getModel('catalog/product')
        ->getCollection()
        ->addAttributeToSelect('*')
        ->addAttributeToFilter('status',1)
        ->addAttributeToFilter('visibility',4) // catalog/search
        ->addAttributeToSort('created_at', 'ASC')
        ->setPageSize(3)
        ->setCurPage(1);
        $_products = $_productCollection;
?>

<div class="new-products">
	<?php if($_products->count()>=1):?>
    	<div class="new-arrivals">
        <h2 class="block-title"><?php echo $this->__('New Products') ?></h2>
        <ul class="product-list-block">
            <?php $i=1; ?>
            <?php foreach($_products as $_product): ?>
                <li <?php if($i%3==0){echo ' class="last"';} ?>>
                    <div class="inner">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName(); ?>"  class="image">
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(265,199); ?>" alt="<?php echo $_product->getName(); ?>" />
                            <p class="name"><?php echo $_product->getName(); ?></p>
                            <p class="price">
                                <span>From:</span>
                                <strong>
                                <?php echo Mage::helper('core')->currency($_product->getPrice()); ?></strong>
                            </p>
                        </a>
                    </div>

                </li>
                <?php $i++; ?>
	            <?php endforeach; ?>
	        </ul>
	    </div>
	 <?php else: ?>
	 	<p><?php echo $this->__('There are no products matching the selection.') ?></p>
	<?php endif; ?>
</div>