    	<div class="press-page">
			<h1 class="title-press-page">Indigo in the press</h1>
			<p class="des-press-page">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit quam ac pulvinar dapibus. Nullam posuere nisi eget tempor ultricies. 
			</p>
			<div class="press-page-wrap">
				<div class="press-page-item">
					<img src="<?php echo $this->getSkinUrl('images/img-poster-press.jpg') ?>" />
					<a href="#" class="link-press-item">Ideal Homes Magazine</a>
					<p class="calendar-press-item">February 2014</p>
					<p class="caption-press-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit sem sem, non ultrices turpis tristique ac. Maecenas cursus gravida convallis. Donec sit amet justo non justo viverra blandit. </p>
				</div>
				<div class="press-page-item">
					<img src="<?php echo $this->getSkinUrl('images/img-poster-press.jpg') ?>" />
					<a href="#" class="link-press-item">Ideal Homes Magazine</a>
					<p class="calendar-press-item">February 2014</p>
					<p class="caption-press-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit sem sem, non ultrices turpis tristique ac. Maecenas cursus gravida convallis. Donec sit amet justo non justo viverra blandit. </p>
				</div>
				<div class="press-page-item">
					<img src="<?php echo $this->getSkinUrl('images/img-poster-press.jpg') ?>" />
					<a href="#" class="link-press-item">Ideal Homes Magazine</a>
					<p class="calendar-press-item">February 2014</p>
					<p class="caption-press-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit sem sem, non ultrices turpis tristique ac. Maecenas cursus gravida convallis. Donec sit amet justo non justo viverra blandit. </p>
				</div>
			</div><!-- end press page wrap -->
			<div class="press-page-pagination">
				<div class="press-pagination-wrap">
					<span>Page:</span>
					<ul class="press-pagination-button">
						<li><a class="active">1</a></li>
						<li><a>2</a></li>
						<li><a>3</a></li>
						<li><a>4</a></li>
					</ul>
					<a>Next</a>
				</div>
			</div>
    	</div>
    	<!-- end press content -->