<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script>
var map;
var myLatlng = new google.maps.LatLng(53.991693,-1.540041);
function initialize() {
  var mapOptions = {
    zoom: 17,
    center: myLatlng,
    scrollwheel: false
  }
  map = new google.maps.Map(document.getElementById('map'),mapOptions);
   var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
  
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="full-screen-banner">
	<div class="banner-inner">
		<ul class="bxslider">
			<li><img src="<?php echo $this->getSkinUrl('images/showroom-full-top.jpg') ?>" alt="" class="base_img"></li>
			<li><img src="<?php echo $this->getSkinUrl('images/showroom-full-top.jpg') ?>" alt="" class="base_img"></li>
			<li><img src="<?php echo $this->getSkinUrl('images/showroom-full-top.jpg') ?>" alt="" class="base_img"></li>
		</ul>
		<div id="bx-pager">
		  <a data-slide-index="0" href=""><img src="<?php echo $this->getSkinUrl('images/showroom-full-top.jpg') ?>" width="90" height="48" /></a>
		  <a data-slide-index="1" href=""><img src="<?php echo $this->getSkinUrl('images/showroom-full-top.jpg') ?>" width="90" height="48" /></a>
		  <a data-slide-index="2" href=""><img src="<?php echo $this->getSkinUrl('images/showroom-full-top.jpg') ?>" width="90" height="48" /></a>
		</div>
	</div>
</div>
<div class="showroom-box">
	<h1>Harrogate showroom, Yorkshire</h1>
	<div class="three-column">
		<div class="col">
			<div class="block">
			<h4>Address</h4>
			<address>
				10-12 Albert St <br/>
				Harrogate <br/>
				North Yorkshire <br/>
				HG1 1JG
			</address>
			</div>
			<div class="block">
			<h4>Telephone</h4>
			<p class="phone">01423 229 000</p>
			<h4>Email Address</h4>
			<p><a href="mailto:sales@indigofurniture.co.uk" class="email">sales@indigofurniture.co.uk</a></p>
			</div>
		</div>
		<div class="col opening-hours">
			<div class="block">
			<h4>Opening Hours</h4>
			<p class="day">
				Monday<br/>
				Tuesday<br/>
				Wednesday<br/>
				Thursday<br/>
				Friday<br/>
				Saturday<br/>
				Sunday
			</p>
			<p class="hours">
				9.00am – 5.30pm<br/>
				9.00am – 5.30pm<br/>
				9.00am – 5.30pm<br/>
				9.00am – 5.30pm<br/>
				9.00am – 5.30pm<br/>
				9.00am – 5.30pm<br/>
				11:00am - 5:00pm
			</p>
			</div>
			<div class="block">
			<h4>Bank Holiday Opening Hours</h4>
			<p class="day">Bank Holidays</p>
			<p class="hours">11:00am - 5:00pm</p>
			</div>
		</div>
		<div class="col">
			<div class="block">
			<h4>Nearest Train Station</h4>
			<p>Harrogate</p>
			<h4>Parking</h4>
			<p>Off street parking</p>
			</div>
			<div class="block">
			<h4>We also stock</h4>
			<p>
				Exclusive Indigo Accessories and Homewares<br/>
				Indigo Home Fragrance<br/>
				Home Accessories<br/>
				Jielde Lamps<br/>
				Serax
			</p>
			</div>
		</div>
	</div>
</div><!-- showroom-box -->
<div class="full-middle-banner showroom-map">
	<div id="map"></div>
</div>




