<?php $banner = Mage::getModel('banners/image')->getCollection();?>
<?php $banner->addFieldToFilter('code', 'indigo-story');?>
<?php $banner->addFieldToFilter('status', 1); ?>
<?php $banner->setOrder('sort_order', 'asc');?>
<?php foreach($banner as $ban): ?>	
<div class="indigo-story">
	<div class="banner-center-text">
        <a href="<?php echo $ban['url'] ?>">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "jbanners/" . $ban->getImageFilename() ?>" alt="<?php echo $ban->getTitle();?>" /></a>			
         <div class="text">
			<h2><?php echo $ban['title'];?></h2>
			<?php echo $ban->getDescription()?>
		</div>
	</div>
</div>
<?php endforeach; ?>





