<div class="top-links">
	<div class="left-links">
		<ul>
			<li><i class="fa fa-phone-square"></i><?php echo $this->getChildHtml('header_phone') ?></li>
			<li><i class="fa fa-heart"></i><?php echo $this->getChildHtml('hand_delivery') ?></li>
			<li class="last"><i class="fa fa-star"></i><?php echo $this->getChildHtml('renowned_guarantees') ?></li>
		</ul>
	</div>
	<div class="right-links">
		<ul class="links">
			  <li class="login"><i class="fa fa-user"></i>
                        <?php if(!$this->helper('customer')->isLoggedIn()):?>
                            <a href="<?php echo $this->getUrl('customer/account/login') ;?>"><?php echo $this->__('Sign In');?></a><span> / </span><a href="<?php echo $this->getUrl('customer/account/create') ;?>"><?php echo $this->__('Register');?></a>
                        <?php else: ?>
                            <a href="<?php echo $this->getUrl('customer/account/logout') ;?>"><?php echo $this->__('Sign Out');?></a><span> / </span><a href="<?php echo $this->getUrl('customer/account') ;?>"><?php echo $this->__('My Account');?></a>
                        <?php endif; ?>
                    </li>
                    <li><i class="fa fa-thumb-tack"></i><a href="#"><?php echo $this->__('Saved Items') ?></a></li>
                    
                    <li class="mini-basket"><i class="fa fa-shopping-cart"></i>
                    	<a href="#"><?php echo $this->__('My Cart (%d)',Mage::getSingleton('checkout/session')->getQuote()->getItemsSummaryQty()); ?></a>
                    	<?php echo $this->getChildHtml('header_cart_sidebar'); ?>
                    </li>
                    <li class="contact-item">
				<div class="bgblack-item"><i class="fa fa-question-circle"></i><a href="<?php echo $this->getUrl('contacts') ?>">Contact Us</a></div>
                    </li>
		</ul>
        
	</div>
	<button id="menu-res"><span><span><i class="fa fa-align-justify"></i></span></span></button>
</div>
                    <script type="text/javascript">
    jQuery(document).ready( function() {

        jQuery('.right-links .mini-basket').hoverIntent({
            over:function(){
                jQuery('#cartdrop').show();
            },
            timeout:100,//milliseconds 
            out:function(){
                jQuery('#cartdrop').hide();
            }

        });

        /************************  add to cart show drop down*************/
        
            var $checkoutStatus = jQuery('.cart ul.messages li');
            if (jQuery($checkoutStatus).hasClass('success-msg')) {
                jQuery('#cartdrop').fadeIn(1000);
                jQuery('#cartdrop').delay(3000).fadeOut(1000);
            }   
        
        /************************* end*********************************/    

    });
</script>