<div class="indigo-video">
	<div class="banner-center-text">
		<a href="#"><img src="<?php echo $this->getSkinUrl('images/video-bottom.jpg') ?>" alt=""></a>
		<div class="text">
			<h2><i class="fa fa-play-circle-o"></i>A dedication to britain</h2>
			<p>Living British, The Indigo Film</p>
		</div>
	</div>
</div>
