.underline {text-decoration: underline;}
.uppercase {text-transform: uppercase;}
.last {margin-right: 0 !important;}
.a-center {text-align: center !important}
.a-right {text-align: right !important}
.a-left {text-align: left !important}
/*Links Style*/
.find-more {@extend .underline;font-size: $fz_base;}
address {font-style: normal;font-size: $fz_base;}
a.email,a.web {text-decoration: underline;}

blockquote {font-style: italic;font-size: 1.1em;
    p {font-style: italic;font-size: 1.1em;}
}
/*fontawesome*/
i.left-side {padding-right: 10px;}
i.right-side {padding-left: 10px;}
/* -------------------------------------------- *
 * Messages
 */


.success {
    color: $c-success;
}

.error {
    color: $c-danger;
    font-weight: bold;
}

.notice {
    color: $c-warn;
    font-weight: bold;
}

/* -------------------------------------------- *
 * Messages
 */

.messages {
    margin: $gap 0;
}

.messages li li {
    position: relative;
    margin-bottom: 5px;
    padding: 7px 10px 7px 20px;
    background: $c-module-background;
    span {font-size: $fz_base}
}

.messages li li:before {
    top: 50%;
    left: 0;
    margin-top: -6px;
}

.messages .error-msg li {
    border-left: 5px solid $c-danger;
    span {color: $c-danger;}
}

.messages .error-msg li:before {
    @include triangle(right, 6px, $c-danger);
}

.messages .notice-msg li {
    border-left: 5px solid $c-warn;
    span {color: $c-warn;}
}

.messages .notice-msg li:before {
    @include triangle(right, 6px, $c-warn);

}

.messages .success-msg li {
    border-left: 5px solid $c-success;
    span {color: $c-success;}
}

.messages .success-msg li:before {
    @include triangle(right, 6px, $c-success);
}

.input-text.validation-failed {
    border-color: $c-danger;
}

// Color the outline for focused fields in Chrome, or else the default blue drowns out the 1px red border
.input-text.validation-failed:focus {
    outline-color: tint($c-danger, 50%);
}
.validation-advice {
    margin: 5px 0 0;
    color: $c-danger;
    font-size: $fz_base;float: left;
}
.a-button {padding: 14px 65px 13px;background: $blue;color: $white;text-transform: uppercase;font-size: $fz_base_xl;
  font-family:$regular;display: block;line-height: 1em;float: left;cursor: pointer;
    &.white {
        color: #111 !important;background: $white;border: 2px solid $blue;
    }
}

.a-button-grey {@extend .a-button;
    background: $grey2;color: $blue;
}

.a-button-small-grey {
  background:$grey_bg;font-size: $fz_base;text-transform: uppercase;padding: 11px 10px 10px;color: #111;text-align: center;
}

.a-button-small {padding: 16px 25px 15px;background: $blue;color: $white;text-transform: uppercase;font-size: $fz_base_xl;
  font-family:$regular;display: block;line-height: 1em;float: left;cursor: pointer;}

.border-bottom {@include border_bottom;}
.center-div {@extend .contents}
.page-404 {
  .a-center {width: 570px;margin: 0 auto;}
  .absolute-center {text-align: center;
    h3 {@include h2_s;font-size: 25px;margin-top: 43px}
    a {display: inline-block;margin:5px;float: none;min-width: 180px;}
  }
}.hidden {display: none}