input {background: none;@include border;padding:6px $input_gap;font-size: $fz_base_s;}
textarea {@extend input;}
input[type="password"] {font-size: 20px;padding:2px $input_gap;}
label {
    float: left;font-family: $semi;font-size: $fz_base_l;margin-bottom: $gap;
    em {float: right;font-style: normal;}
}
button.button {background: $blue;border: none;padding: 0;
	&.grey-bt {background: $grey2;
		span span {
			background: $grey2;color:$link;
		}
	}
	&.white {background: $white;box-sizing: border-box;
	  span span {color: #111;background: $white;border: 2px solid $blue;padding: 15px 65px 14px;}
	}

  /*small*/
  &.small {
    span span {padding: 11px 10px 10px;font-size: $fz_base;}
  }
	&:hover {opacity: .8;}
}
button.button span {}
button.button span span {padding: 16px 65px 15px;background: $blue;color: $white;text-transform: uppercase;font-size: $fz_base_xl;
    font-family:$regular;display: block;line-height: 1em;
}
input[type="checkbox"],input[type="radio"] {display: none;}

input[type="checkbox"] + label,input[type="radio"] + label {cursor: pointer;letter-spacing:0.2px;}
input[type="checkbox"] + label span.i {
  background: url(../images/checkbox-bg.png) 0 0 no-repeat;width: 14px;height: 14px;display: inline-block;
  top: 2px;position: relative;
}
input[type="radio"] + label span.i {
	&:after {content:'\f1db';}
}
input[type="checkbox"]:checked + label span.i  {background-position: 0 -15px;}
input[type="radio"]:checked + label span.i:after  {content:'\f192' !important;}

form fieldset {border: none;margin: 0;padding: 0}

button.button2 {background: $grey2;border: none;padding: 0;
	span {
		span {background: $grey2;text-transform: uppercase;color:$link;font-size: $fz_base_xs;
			font-family:$semi ;min-width:95px;display: block;padding: 9px 10px 8px;
		}
	}
	&.up,&.down {span{span{min-width:10px;height: 14px;}}}
}

.button-plain {
  background: none;
  border: none;
  span {
    span {font-size: 12px;}
  }
}
.no-display {display: none;}
.selectboxit-container {@include border;}
.address-book-col1 {margin-bottom: 30px;}
.address-book-col2 {
	.input-box {clear: both}
	.selectboxit-container .selectboxit {width: 415px;}
}
.form-list {
  .input-box {clear: both;
    input {width: 393px;box-sizing: border-box;}
  }
}
/*style select box*/
.select-box-styled {
  @include border;height: 28px;padding: 6px 10px;box-sizing: border-box;position: relative;
  select {background: transparent;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;width: 100%;box-sizing: border-box;
    cursor:pointer;}
    &:after {
      font-family: $awe;
      content: "\f0d7";
      position: absolute;
      right: 7px;
      top: 7px;
    }
  &.show{
    display: block !important;
  }
  &.hide{
    display: none !important;
  }
}


