/*2 left*/
.col2-left-layout {margin-bottom: 70px;
	.main {width: 97%;margin: 0 auto;
		.col2-left-layout-wrapper {max-width: 1205px;width: 100%;margin: 0 auto;}
	}
	.col-main {float: right;width: percentage(955px/1205px);
		.cms-wrapper {@include border-x(left);padding-left:percentage(40px/1205px);box-sizing:border-box;
			h4 {@include border_x(top);text-transform: uppercase;font-family: $basker;padding-top: 20px;
				&:first-child {border: none;padding-top: 0;} 
			}
		}
		  .page-title {
		    h1 {text-align: left;}
		  }
	}
	.col-left {float: left;width:percentage(250px/1205px);box-sizing:border-box;
		padding-right:percentage(38px/1205px) ;
	}
}