//Tab
.tabs {
    border:1px solid $tab_boder;@include clearfix;box-sizing: border-box;width: 100%;
  .toggle-tabs {background: $unactive_tab;@include clearfix;width: 100%;
    li {float: left;text-transform: uppercase;position: relative;margin-bottom: 0;
      span {background: $unactive_tab;display: block;cursor: pointer;font-size: $fz_base_s;padding: $tab_item_padding;}
      &.current {color: #fff;
        span {background: $blue;
          &:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(20, 35, 51, 0);
            border-top-color: #142333;
            border-width: 5px;
            margin-left: -5px;
          }
        }
      }
    }
  }
  dl {margin: 0;@include break_down;
    dt.tab {display: none;}
    dd {display: none;margin: 0;
      &.current {display: block;}
      div.tab-content {padding: $tab_content_padding;@include clearfix;width: 100%;box-sizing:border-box;}
    }
  }
}