/* @mixin */
@mixin border {border: 1px solid $border;}
@mixin border_top {border-top: 1px solid $border;}
@mixin border_bottom {border-bottom: 1px solid $border;}
@mixin border_b {border-bottom: 1px solid $border;}
@mixin border_b_2 {border-bottom: 1px solid $border;}
@mixin border_mega {border-right: 1px solid $border;}
@mixin break_down {width: 100%;clear: both;float: left;}

@mixin border_x($x) {
  @if $x == top {
    border-top: 1px solid $border;
  }
  @if $x == left {
    border-left: 1px solid $border;
  }
  @if $x == right {
    border-right: 1px solid $border;
  }
  @if $x == bottom {
    border-bottom: 1px solid $border;
    
  }
}

@mixin h1_title {text-align: center;text-transform: uppercase;font-size: 36px;margin-bottom: 50px;}
@mixin h2_title {@include h1_title;font-size: 30px;}
@mixin h2_s {@include h2_title;}
@mixin h2_journal {text-align: center;text-transform: uppercase;font-size: 30px;margin-bottom: 35px;}
@mixin h2_center {text-align: center;text-transform: uppercase;font-size: 48px;margin: 0 0 15px;}
@mixin h3_center {text-align: center;text-transform: uppercase;font-size: 36px;margin: 0 0 15px;}
@mixin ttu {text-transform: uppercase;}

@mixin product_name {
  font-size:18px;text-transform: uppercase;text-align: center;position: relative;
    a {color: #fff;display: block;}
}

@mixin h4_mega {
	text-align: left;text-transform: uppercase;font-family: $bold;font-size: 12px;margin: 0;
	@include border_b_2;padding-bottom: 14px;margin-bottom: 14px;
}
@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}


@mixin triangle($direction: up, $size: 5px, $color: #000000) {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;

    @if $direction == up {
        border-right: $size solid transparent;
        border-left: $size solid transparent;
        border-bottom: $size solid $color;
        border-top: none;
    }

    @if $direction == down {
        border-right: $size solid transparent;
        border-left: $size solid transparent;
        border-top: $size solid $color;
        border-bottom: none;
    }

    @if $direction == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        border-right: none;
    }

    @if $direction == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        border-left: none;
    }
}

// =============================================
// Mixin - Breakpoint
// =============================================

$mq-support: true !default;
$mq-fixed-value: 1024px !default;

@mixin bp($feature, $value) {
    // Set global device param
    $media: all;

    // Media queries supported
    @if $mq-support == true {

        @media #{$media} and ($feature: $value) {
            @content;
        }

        // Media queries not supported
    } @else {

        @if $feature == 'min-width' {
            @if $value <= $mq-fixed-value {
                @content;
            }
        } @else if $feature == 'max-width' {
            @if $value >= $mq-fixed-value {
                @content;
            }
        }

    }
}
@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}
@mixin tabs() {
    .toggle-tabs {
        display: block;
        width: 100%;
        position: relative;  
        li {
            float: left;width:33.33333%;position: relative;
            .separator {height: 60px;position: absolute;left: 0;top: 0;width: 2px;background: #fff;z-index: 9999;}
            > span {
                background: $unactive_tab;display: block;color:#A0A0A0;
                height: 60px;
                line-height: 40px;
                cursor: pointer;
                text-transform: uppercase;
                font-size: $fz_base;
                position: relative;
                padding:9px 0 0 20px;width: 100%;box-sizing:border-box;
            }
        }

        li.current {
            > span {
                background:$blue;color: #fff;
                z-index: 5;
                &:after {
                    top: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(22, 39, 56, 0);
                    border-top-color: #162738;
                    border-width: 14px;
                    margin-left: -14px;}
            }

        }

        li.current span,
        li:hover span {
            
        }

        li:first-child {
            border-left: none;
        }

        &:after {
            @include clearfix;
        }
    }

    > dl {
        width: 100%;

        > dt {
            display: none;
        }

        > dd {
            width: 100%;
            display: none;
            border-top: 0;float: left;margin: 0;
        }

        > dd.current {
            display: block;
        }
    }
}