//*Base colour*//
$blue: rgb(7,23,39);
$blue_o: rgba(7,23,39,0.85);
$blue_o_white: rgba(255,255,255,0.85);
$white: #fff;
$link:#111;
$text:$link;
$select_box_color: #484848;
$grey:#747474;
$grey2 :#E0E0E0;
$grey_bg:#F7F7F7;
$border:#D7D8D9;

$c-blue: #3399CC;
$c-green: #69730F;
$c-pink: #D85378;
$c-orange: #F3793B;
$c-red: #D45647;
$c-yellow: #FFDD15;
$c-black: #000000;
$c-module-background: #F4F4F4;

// =============================================
// Primary Break Points
// =============================================

// These should be used with the bp (max-width, xx) mixin
// where a min-width is used, remember to +1 to break correctly.
// If these are changed, they must also be updated in app.js

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 770px;
$bp-large: 979px;
$bp-xlarge: 1199px;

// Notifications
$c-danger: #D45647;
$c-success: $c-green;
$c-warn: #E26703;
$c-dark: #676157;

//Text//
$regular:'Proxima N W15 Reg','Times New Roman',serif;
$semi:'Proxima N W15 Smbd','Times New Roman',serif;
$bold:'Proxima N W15 Bold','Times New Roman',serif;
$awe:'FontAwesome','Times New Roman',serif;
$basker:'BaskervilleMTW01-Roman','Times New Roman',serif;
$basker_semi:'Baskerville MT W01 SmBd','Times New Roman',serif;
$title:'BaskervilleMTW01-Roman','Times New Roman',serif;

$fz_base_xxl:18px;
$fz_base_xl:15px;
$fz_base_l:14px;
$fz_base:13px;
$fz_base_s:12px;
$fz_base_xs:11px;

//Spacing
$gap:10px;
$input_gap :10px;
//form
$button_w_base_l :200px;
$button_w_base :180px;
$button_w_base_s :150px;

// Table

$c-table-background: #F4F4F4;
$c-table-border: #C0C0C0;

$c-table-zebra-odd: #F8F7F5;
$c-table-zebra-even: #EEEDED;
//Tab

$unactive_tab:#F7F7F7;
$tab_content_padding:12px;
$tab_item_padding:14px;
$tab_boder:#E0E0E0;
