/*
    Designed by Junowebdesign;
*/

/*css reset with normalize*/
@import url('normalize.css');
/*==========  fonts  ==========*/

@import url('font-awesome.min.css');
@import url('http://fast.fonts.net/cssapi/2ac09c21-0817-479f-9152-5fa7c08a6950.css');

@import "core";
* {          
	-webkit-transition: all .25s ease;
             -moz-transition: all .25s ease;
              -ms-transition: all .25s ease;
               -o-transition: all .25s ease;
                  transition: all .25s ease;
 }
.first {margin-left: 0;}
.last {margin-right: 0;}
.left {float: left !important;}
.right {float: right !important;}
/* Media - Fluid Images - Video 
============================================================================================== */
figure {margin: 0}
img, object, embed, video {max-width: 100%; _width: 100%} /* Fluid images */
img {border: 0; -ms-interpolation-mode: bicubic} /* Improve IE's resizing of images */
svg:not(:root) {overflow: hidden} /* Correct IE9 overflow */
img {height: auto;}
textarea {color: #525252;font-size: .9em;}
input {font-family: 'Proxima N W15 Reg';font-weight: normal;}
strong {font-weight: normal;font-family:'Proxima N W15 Smbd';}
/*Heading*/
h1 ,h2 ,h3 {font-family:'BaskervilleMTW01-Roman';line-height: 1em;margin: 0;font-weight: normal;}

p {font-size:$fz_base_l;line-height: 1.5em;color: #303030;font-family: 'Proxima N W15 Reg';font-weight: normal;}

/* Links (No outline borders) 
============================================================================================== */
a {text-decoration: none;color: #111;}
a:focus, a:hover, a:active {outline: 0;}
a.hu:hover {text-decoration: underline;}
ul li {list-style: none;}
/* Clear 
----------------------------------------------------------------------------------------------------*/
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; } /* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; } .clearfix {display: inline-block;} * html .clearfix {height: 1%; } .clearfix {display: block; } /* General small screen Mobile
============================================================================================== */
/*styles of site*/
.blue {color: #00AEDA;}
.upper {text-transform: uppercase;}
.a-center {text-align: center;}
.italic {font-style: italic;}
.mg0 {margin: 0;}
.white {color: #fff !important}
.normal {font-weight: normal !important;font-family:'Proxima N W15 Reg','Times New Roman',serif;}
.shop-bt {color: #fff;text-transform: uppercase;font-size: 13px;height: 42px;border: 2px solid #fff;display: inline-block;line-height: 45px;padding: 0 35px;

	&:hover {
		color: #111 !important;background: #fff;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	@media all and (max-width: 400px) {
		height: 30px;line-height: 34px;padding: 0 1em;
	}

}
i.fa.fa-thumb-tack {
	-moz-transform: rotate(-10deg);
-ms-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
transform: rotate(-10deg);
}
/*Main Style*/
body {margin: 0;padding: 0;font-family: 'Proxima N W15 Reg';color: #111111}
body ,html {overflow-x:hidden }
ul {margin: 0;padding: 0;}
input {outline: none;font-size: $fz_base;}
button {outline: none;}
.contents {width:97%;margin: 0 auto;max-width: 1900px}
.col1-layout {padding: 0px 0 70px;}
.col1-layout .col-main {@extend .contents;}
.cms-home .col1-layout .col-main {width: 100%;padding-top: 0;
    overflow: visible;

  }
/*==============================
=            Header            =
==============================*/
header {color: #fff;position: relative;z-index:999999;
}
header a {color: #fff}
header .header-part-2 {
	background: rgba(7,23,39,0.85);
	height: 159px;position: relative;margin-top: 37px;z-index: 9999999;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	&.sticky {
		> .contents {display: none;}
		.nav-wrapper {position: fixed;width: 100%;top: 37px;z-index: 9999;
			-webkit-backface-visibility: hidden; 
            -webkit-transform: translateZ(0);
			.opacity-div-2 {background:$blue;width: 100%;position: absolute;left: 0;top: 0;height: 49px;
				opacity: .85;

			}
		}
	}
	/*.opacity-div {background:$blue;height: 159px;width: 100%;position: absolute;left: 0;top: 0;opacity: .95;}*/
	@media all and(max-width:1030px){
		height: auto;
		.opacity-div {height: 169px;opacity: .95 !important}
	}
}

.cms-home header .header-part-2 .opacity-div,.cms-home header .header-part-2 .opacity-div-2 {opacity: .85;}
header .header-part-2 .contents {position: relative;overflow: hidden;}

header .top-links-container {background:$blue;height: 37px;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	        position: fixed;top: 0;left: 0;width: 100%;z-index: 99999999;
	        -webkit-backface-visibility: hidden; 
-webkit-transform: translateZ(0);

}

header .top-links-container .top-links {width:98%;clear: both;margin:0 auto;height: 37px;
	#menu-res {display: none;}
	@media all and(max-width:1030px){
			position: relative;
		#menu-res {position: absolute;left: 20px;top: 7px;background: none;border: none;padding: 0;display: block;
			i {font-size: 25px;}
		}
	}

}
header .top-links-container .top-links .left-links {float: left;margin: 13px 0 12px 14px;
	@media all and(max-width:1140px){
			display: none;
	}
}
header .top-links-container .top-links .left-links ul {float: left;margin: 0;}
header .top-links-container .top-links .left-links ul li {float: left;margin-right: 10px;text-transform: uppercase;font-size: 11px;letter-spacing: 1px;
	border-right: 1px solid #45515D;padding-right: 10px;height: 12px;
}
header .top-links-container .top-links .left-links ul li .fa {padding-right: 5px;}
header .top-links-container .top-links .left-links ul li.last {border: none;}


header .top-links-container .top-links .right-links {float: right;margin: 13px 0 12px;
	@media all and(max-width:1080px){
		ul {
			li.contact-item {background: none !important;}
		}
	}	
	@media all and(max-width:1030px){

	}	
	@media all and (max-width:615px){
		margin-top: 7px;margin-right: 10px;
		li {display: none;
			&.mini-basket {display: block;
				a {display: none;}
			}
		}
	}
}
header .top-links-container .top-links .right-links ul li {float: left;margin-left: 17px;font-size: 11px;text-transform: uppercase;letter-spacing: 1px}
header .top-links-container .top-links .right-links ul li .fa {padding-right: 5px;
	@media all and (max-width:615px){
		font-size: 25px;cursor: pointer;
	}
}
header .top-links-container .top-links .right-links ul li.contact-item {position: relative;margin-top: -14px;background: #020B13;height: 37px;padding: 0 14px;

	div.bgblack-item {margin-top: 14px;}
}


header .contents .middle-header {clear: both;width: 100%;text-align: center;position: relative;margin-top: 32px;float: left;height: 66px;margin-bottom: 12px;
	@media all and(max-width: 1030px){
		height: auto;margin-top: 15px;
	}
}
header .contents .middle-header .logo {width: 263px;margin: 0 auto;display: block;
	@media all and(max-width: 615px){
		width: 220px;
	}
}
header .contents .middle-header #search_mini_form {position: absolute;right: 0;bottom: 20px;
	@media all and(max-width: 1030px){
		display: none;
	}
}
header .contents .middle-header #search_mini_form .form-search {border: 1px solid #656B71;height: 35px;width: 306px;position: relative;margin: 0 auto;}
header .contents .middle-header #search_mini_form .form-search input {background: none;border: none;float: left;width: 250px;padding: 11px;text-transform: uppercase;}
header .contents .middle-header #search_mini_form .form-search button {background: none;border: none;border-left: 1px solid #656B71;height: 25px;margin-top: 5px;float: right;width: 30px;}
header .contents .middle-header #search_mini_form .form-search button .fa {font-size: 13px;}

header .nav-wrapper {width: 100%;text-align: center;position: relative;clear: both;z-index: 9999;height: 49px;
	@media all and (max-width: 1030px) {
		height: auto;display: none;position: absolute;top: 94px;
		.opacity-div-2 {display: none;}
	}
	@media all and (max-width: 615px) {
		top: 83px;
	}	

	@media all and (min-width: 1031px) {
		display: block !important;
	}

	
	.nav-inner {
		width:1450px;margin: 0 auto;position: relative;height: 49px;z-index: 9999;
		@media all and (max-width: 1450px) {
			width:98%;
		}		

		@media all and (max-width: 1030px) {
			width:100%;height: 100%;
			ul#nav-ul {
				height: auto;
				li {width: 100%;text-align: left;background:$blue;opacity: .85;margin: 0;padding: 14px 0;cursor: pointer;
					@include border_x(top);
					.mega-menu {display: none;}
					.item-bg {display: none !important;}
				}
			}
		}


		#nav-ul {height: 49px;}
	}
}
header .nav-wrapper nav > ul > li {display: inline-block;margin: 15px 0 14px;
	-webkit-transition: all .25s ease-out;
	   -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
	&.res-menu-item {
		display: none;
		@media all and (max-width: 1030px){
			display: block;
		}
	}
	.mega-menu {
		
		.inner {
			position: absolute;left: 0;width: 100%;background: #fff;top: 49px;color: $link;z-index: 2;
			padding:40px 0;overflow: hidden;
			.links-column {@include border_mega;overflow: hidden;width: percentage(568px/1450px);float: left;}
			.mega-product {width: percentage(281px/1450px);float: left;margin-left: percentage(40px/1450px);padding-right: percentage(40px/1450px);text-align: left;
				@include border_mega;
				h4 {@include h4_mega;border: none;margin: 15px 0 10px;padding-bottom: 0;}
			}
			.recently-viewed {width: percentage(482px/1450px);float: right;
				ul li {float: left;width: percentage(228px/482px);margin-bottom: 26px;
					&.last {float: right;}
				}	
			}
		}
		a {color: $link;}
		.links-block {
			width: percentage(205px/568px);float: left;
			.links-bock-inner {
				margin-bottom:30px;
				h4 {
					@include h4_mega;
				}
				ul li {text-align: left;
					a {font-size: 12px;}
				}
				&.last {margin-bottom: 0;}
			}
			&.last {margin-right: percentage(80px/568px);float: right;}

		}
		.white-bg {width: 1000%;position: absolute;left: -300%;top: 49px;height: 100%;z-index: 1;display: block;background: #fff;}
	}

}
header .nav-wrapper nav > ul > li > a {text-transform: uppercase;font-size: .9em;
	position: relative;padding: 0 30px;display: inline-block;z-index: 99999;
	.name {z-index: 2;}
	.item-bg {
		background: #fff;width: 100%;position: absolute;left: 0;height: 51px;top: -18px;z-index: 1;line-height: 54px;color:$blue;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	@media all and (max-width:1030px ) {
		padding: 0 20px;
	}
}

/*-----  End of Header  ------*/

/*==============================
=            banner            =
==============================*/
.main-container {width: 100%;clear: both;float: left;position: relative;
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {background: #fff;opacity: 1}
	.bx-wrapper {margin-bottom: 0;}
	.bx-wrapper .bx-pager {bottom: 15px;}
	.bx-wrapper .bx-pager.bx-default-pager a 
		{width: 13px;height: 13px;	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
		  -webkit-border-radius: 50%; 
		  /* Firefox 1-3.6 */
		  -moz-border-radius: 50%; 
		  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		  border-radius: 50%;
		  background: #fff;opacity: .5;
	}
}

#banner {
	margin-bottom: 20px;z-index: 1;margin-top: 0;clear: both;margin-top: -159px;

	.slides-container {
		height: 100%;

		li {text-align: center;}
		li img {top: 0 !important;display: inline-block;}
		li div.text {
			width: 100%;text-align: center;top: 45%;position: absolute;
			h2 {text-transform: uppercase;color: $white;font-size:100px;margin: 0;}
			p {color: $white;font-size: .9em;font-family:'Proxima N W15 Reg';font-weight: 300;background: url(../images/white-text-bg.jpg) center bottom no-repeat;padding-bottom: 39px;margin-bottom: 38px}

			@media all and (max-width:1450px){
				top: 45%;
				p {background: none;padding: 1em;margin:0;}
			}			
			@media all and(max-width:900px){
				top: 50%;
				
			}
		}
	}

	@media all and (max-width:1070px){
		.slides-container li div.text h2 {font-size: 70px;}
	}	

	@media all and (max-width:1000px){
		margin-top:0;
		.slides-container li div.text {top:23%;}
	}	

	@media all and (max-width:660px){
		.slides-container li div.text {
			h2 {font-size: 50px;}
		}
	}	

	@media all and (max-width:600px){
		.slides-container li div.text {
			h2 {font-size: 35px;}
		}
	}	
	@media all and (max-width:550px){
		.slides-container li div.text {
			top:10%;
			h2 {font-size: 35px;}
		}
	}	
}

#middle-home {clear: both;}

#middle-banner {height:100%;overflow: hidden;
	@media all and(max-width:1900px){
			
	}
}
#middle-banner .bx-wrapper .bx-viewport {width: 926px !important;overflow: visible !important;margin: 0 auto !important;border: none;
	@media all and(max-width:1055px){
			width:percentage(926px/1055px) !important;
	}	

	@media all and(max-width:670px){
			width:100% !important;
	}
}
#middle-banner .bx-wrapper .bx-viewport .slider-wrapper li {width: 926px;text-align: center;}
#middle-banner .bx-wrapper .bx-viewport .slider-wrapper li .text {position: absolute;left: 0;top: 118px;width: 100%;text-align: center;
	@media all and(max-width:1900px){
			top:35%;
	}
}
#middle-banner .bx-wrapper .bx-viewport .slider-wrapper li .text h2 {
	font-size: 48px;text-transform: uppercase;margin-bottom: 30px;color: $white;

	@media all and(max-width:670px){
		font-size: 30px;margin-bottom: 10px;
	}
}

#middle-banner .bx-controls {width: 1055px;margin: -230px auto 0;position: relative;
	.bx-pager {
		display: none;
	}
	@media all and(max-width:1055px){
		width: 100%;
	}	

	@media all and(max-width:970px){
		margin: -22% auto 0;
	}	

	@media all and(max-width:670px){
		margin: 0;position: absolute;bottom:0;
		.bx-controls-direction {
			display: none;
		}
		.bx-pager {
			display: block;
		}
	}
}
#middle-banner .bx-wrapper .bx-controls-direction a {font-size: 16px;height: 55px;background: #fff;width: 35px;line-height: 55px;text-align: center;}
#middle-banner .bx-wrapper .bx-controls-direction a.bx-prev:before {content:'\f177';font-family: 'FontAwesome';}
#middle-banner .bx-wrapper .bx-controls-direction a.bx-next:before {content:'\f178';font-family: 'FontAwesome';}


/*-----  End of banner  ------*/




/*============================
=            Body            =
============================*/

#body {}


/*-----  End of Body  ------*/


/*=========================================
=            home-left+right-wrapper            =
=========================================*/
#home-left-wrapper {float: left;width: 939px;margin-top: 40px;
	
	h2 {text-transform: uppercase;}
	.left-fist-banner {position: relative;margin-bottom: 20px;
		div.text {position: absolute;width: 100%;top:115px;text-align: center;
			h2 {font-size: 48px;
				color: #fff;
			}
			p {color: #fff;margin-bottom: 20px;font-size: 13px;}
		}
	}

	.left-two-small-banner {
		clear: both;
		div.left {width:percentage(460px/940px);}
		div.right {width:percentage(460px/940px);}
		margin-bottom: 20px;float: left;width: 100%;

		@media all and(max-width: 1024px) {
			div.left {width: 100%;margin-bottom: 20px;
				img {max-width: 100%;width: 100%;}
			}
			div.right {width: 100%;
				img {max-width: 100%;width: 100%;}
			}
		}

	}

	.famous-friends {
		margin-bottom: 20px;clear: both;overflow: hidden;
		div.left {
			width:percentage(480px/940px);
		}		

		div.right {
			width:percentage(398px/940px);margin-top: 20%;font-size:13px; line-height:1.5em;
			h3 {font-size: 30px;@include ttu;margin-bottom: 0;}
			h4 {font-size: 18px;@include ttu;margin: 5px 0 0;color: #787878;font-family: $basker;}
			p.black-line {width: 30px;border-bottom: 2px solid #000;margin: 25px 0;}
			p {color: #5A5A5A;}
			p.content {margin-bottom: 30px;}
		}
	}

	.our-showroom {clear: both;width: 100%;}

	/*mediaqueries*/
	@media all and (max-width: 1240px){
		h2 {
			font-size: 35px;
		}
		.left-fist-banner {
			div.text {
				top: 30%;
			}
		}
		.banner-center-text div.text {
			top: 33%;
			h3 {font-size: 30px;}
		}
	}
	@media all and (max-width: 840px){
		.left-fist-banner {div.text {h2 {font-size: 20px; } } }
		.banner-center-text div.text {h3 {font-size: 20px;} } 

	}


}/*home-left-wrapper*/

#home-right-wrapper {float: right;width: 920px;

	.new-products {
		@include border_b;
		margin: 40px 0 45px;padding: 26px 0 45px;overflow: hidden;

		h2 {text-align: center;text-transform: uppercase;font-size: 30px;margin-bottom: 50px;}
		.product-list-block {
			padding-left: percentage(24px/920px);
				li {float: left;
					width: percentage(266px/920px);
					margin-right: percentage(39px/920px);
					text-align: center;

					p.name {text-transform: capitalize;font-size: 13px;
						color: #111111;margin-bottom: 5px;
					}
					.price {color: #111111;font-size: 13px;margin: 0}
				}
		}
		
	}
	
	#journal-wrapper {
		position: relative;margin-bottom: 40px;
		h2 {@include h2_journal;}
		> a {position: relative;z-index: 1;}
		.text {
			width: percentage(750px/920px);padding:0 percentage(40px/920px) 2em;
			background: #fff;overflow: hidden;
			margin: -77px auto 0;
			text-align: center;z-index: 2;position: relative;
			h2 {padding-top: 1.3em;margin-bottom: 1em;
			}
		}

	}
	.indigo-story {margin-bottom: 20px;}
	/*==========  mediaqueries  ==========*/
	@media all and (max-width: 1240px){
		.banner-center-text div.text h2 ,.banner-center-text div.text h2 i.fa {font-size: 35px;}		
	}	

	@media all and (max-width: 960px){
		.banner-center-text div.text h2 ,.banner-center-text div.text h2 i.fa {font-size: 30px;}		
	}	

	@media all and (max-width: 840px){
		.new-products h2 ,#journal-wrapper h2,.banner-center-text div.text h2 ,.banner-center-text div.text h2 i.fa {font-size: 20px;}
	}

}/*#home-right-wrapper*/
.read-more {text-transform: uppercase;font-size: 13px;
	i {padding-left: 5px;padding-top: 2px;}
}
.banner-center-text {
	position: relative;
	div.text {width: 100%;text-align: center;top:40%;position: absolute;color: #fff;

		h3 {@include h3_center;}
		h2 {@include h2_center;
			i.fa {
				margin-right: 15px;font-size: 45px;
			}
		}
		p{color: #fff;margin-bottom: 30px;}
		a {}
	}
}

/*-----  End of home-left+right-wrapper  ------*/


/*=====================================
=            Miscellaneous            =
=====================================*/

.home-logos {clear: both;width: 100%;margin: 30px 0;float: left}

/*-----  End of Miscellaneous  ------*/



/*==============================
=            Footer            =
==============================*/

footer {clear: both;width: 100%;background: $blue;float: left}
footer p {color: #fff}
footer .footer-top {border-bottom: 1px solid #384652;height: 61px;position: relative;
}
footer .footer-top div.left {margin-top: 14px;position: relative;z-index: 2;}
footer .footer-top div.left > p {float: left;margin:9px 15px 0 0;
	
	@media all and(max-width:1190px){
			display: none;
	}

} 
footer .footer-top div.left p strong {font-size: 14px;font-family:'Proxima N W15 Smbd';}
footer .footer-top div.left .stay-update {float: left;
	.block-content {
		border: 1px solid #656B71;
		height: 32px;
		.input-box {float: left;position: relative;
			input {background: none;border: none;color: #A5A7AA;padding:8px 10px;text-transform: none;font-size: 14px;
			}
			.validation-advice {position: absolute;color: #EE3A2A;font-size: 12px;width:300%;bottom: -15px;}

		}
		.actions {float: right;border-left: 1px solid #656B71;width: 90px;text-align: center;
			button {background: none;border: none;text-transform: uppercase;color: #fff;height: 32px;margin: 0;padding: 0;line-height: 35px;
			}
		}
			
	}
	
}
footer .footer-top div.center {float: left;margin-top: 22px;margin-left: 279px;
	@media all and(max-width:1900px){
		margin-left: percentage(279px/1900px);
	}	
	@media all and(max-width:1800px){
		margin-left: 11%;
	}	

	@media all and(max-width:1650px){
		margin-left: 7%;
	}	
	@media all and(max-width:1550px){
		display: none;
	}

}
footer .footer-top div.center a {text-transform: uppercase;color: #fff;font-size: 14px;}
footer .footer-top div.right {margin-top: 22px;position: relative;z-index: 2;}
footer .footer-top div.right > a {float: left;text-transform: uppercase;color: #fff;font-size: 14px;margin-top: 3px;
	@media all and(max-width:1190px){
			display: none;
	}

}
footer .footer-top div.right .social {float: left;margin-left: 15px;border-left: 1px solid #656B71;padding-left: 5px;
	height: 18px;
	@media all and(max-width:1190px){
		border-left: none;
	}


}
footer .footer-top div.right .social li {float: left;margin-left: 10px;
	a {color: #fff;font-size: 19px;

	}
}




footer .footer-bottom {
	overflow: hidden;clear: both;width: 100%;
      .block {
          float: left;color: #fff;width: 45%;
          h4 {color: $white;text-transform: uppercase;margin-bottom: 15px;
		i {padding-left: 7px;}
          }
          ul li {margin-bottom: 5px;
                  a {color: $white;font-size: 12px}
          }
          address {font-size: 12px;font-style:normal;line-height: 1.6em;margin-bottom: 30px;}
      }
      .contact-info {float: right;width: auto;text-align: right;
        h4 {border: none !important;}
        p a {color: #fff;}

		@include bp(max-width,800px) {
			width: 100%;clear: both;text-align: left;
			h4 {border-bottom: 1px solid #384652 !important;padding-bottom: 10px !important;}
		}
      }

      .links-wrapper {
        .links-blocks {
            width: percentage(607px/1902px);margin-right: percentage(198px/1902px);float: left;
          .block {float: left;
            &.block:nth-child(2n) {float: right;}
                @include bp(max-width,1500px){
	          	width: 100%;clear: both;
	          }
          }
          @include bp(max-width,800px) {
          	width: 100%;margin: 0;clear: both;
          }
        }
          .addresses-blocks{
            width: percentage(607px/1902px);float: left;
            .block {float: left;
              &.block:nth-child(2n) {float: right;}
                  @include bp(max-width,1500px){
	          	width: 100%;clear: both;
	          }
            }
		@include bp(max-width,800px) {
          		width: 100%;margin: 0;clear: both;
          	}
        }
	}



}
footer .footer-copyright {
	clear: both;margin:35px 0 40px;overflow: hidden;
	p.copyright {text-transform: uppercase;font-size: 14px;margin: 0}
	.expand {
		a {color: #fff;text-transform: uppercase}
	}
}
/*-----  End of Footer  ------*/

/*=====================================
=            category view            =
=====================================*/
.contents-small {width:1877px;margin: 0 auto;}
#category-top {clear: both;width: 100%;text-align: center;
	
	.text {width: 100%;text-align: center;top: 33%;position: absolute;
		h1 {font-size: 60px;margin-bottom: 30px;text-transform: uppercase;color: #fff;}
		.category-description {width: 777px;margin: 0 auto;color: #fff;font-size: 14px;
			  @include bp (max-width,777px){
			    	width: 100%;
			  }
		}
	}
  @include bp (max-width,1110px){
    top: 0 !important;
  }
}

/*-----  End of category view  ------*/

/*====================================
=            product list            =
====================================*/
#product-list {
	clear: both;
	.products-grid {
		> li {float: left;position: relative;margin:0 percentage(30px/1877px) 30px 0;width:32.26%;
		    .product-image {
                  display: block;
		          img {
                    width: 100%;
                    height: auto;
                    float: left;
                    }
		    }
			.product-bottom {position: absolute;bottom: 0;left: 0;width: 100%;
				.top-part {background: $blue_o;padding: 19px 10px;
				}
				h2.product-name {font-size:18px;text-transform: uppercase;text-align: center;position: relative;
					max-height: 57px;font-family: $basker;
					a {color: #fff;display: block;}
					
				}
				.short-description {color: #fff;text-align: center;font-size: 12px;margin-top: 10px;opacity: 0;display: none;
				}
				.product-tool {background: $blue;overflow: hidden;height: 0;padding: 0 12px;

					a {color: #fff;font-size: 12px;
					 i {padding-right: 5px;}
					}
				}
			}
			&.last {margin-right: 0;}
			&:hover {
					.top-part {}
					.short-description {opacity: 1;display: block;

					}
					.product-tool {height: 14px;padding: 13px 12px;}
				}

		}
	}
}
/**
 Filter
**/
.filter-top-cat-view {
	clear: both;width: 100%;margin: 20px 0;float: left;
	.left-social {float: left;
		ul li {float: left;margin-right: 5px;
				iframe {width: 77px !important;}
		}
	}

	.right-filter {float: right;
		p.title {float: left;margin:7px 4px 0 0;text-transform: uppercase;color:$select_box_color;}
		ul.filter-wrapper {
			float: left;
			>li {float: left;margin-left: 10px;
				>.selectboxit-container {border: 1px solid #D7D8D9;min-width: 180px;position: relative;
					
					.selectboxit-default-arrow {border-top:4px solid #000;}
					.selectboxit-text {font-size: 13px;color:$select_box_color;font-family: $regular !important;
					}
					.selectboxit-options a {font-size: 13px;color:$select_box_color;font-family: $regular !important;}
				}
				.selectboxit-container .selectboxit-options {@include border_radius(0)}
				.arrow {border-right: 4px solid transparent;
						border-left: 4px solid transparent;border-top: 4px solid #000;width: 0;height: 0;
						float: right;margin-top: 6px;
				}
				.m-checkboxes  {
					position: relative;z-index: 9999;
					.filter-drop {display: none;position: absolute;left: 0;top: 31px;border: none;
						width:250px;
						background: #fff;
						ol {padding:7px 9px 10px;border: 1px solid #D7D8D9;border-top: none;height: auto !important;
							input[type="checkbox"] {display: none;}
							
							li {font-size: 13px;padding-bottom: 3px;clear: both;
								label {cursor: pointer;font-family:$regular;}

                                			&:before {content: "";}
							}
						}
						.m-more-less {display: none !important;}
					}
				}
			}
		}

	}
}
.main .col-main .block-layered-nav.m-topmenu.m-wide .m-ln {background: none;border: 1px solid #D7D8D9;
	font-size: 13px;font-family: $regular;color:$select_box_color;padding: 7px 9px;cursor:pointer;
	width: 180px;margin: 0
}
.main .col-main .block-layered-nav #narrow-by-list {clear: none;float: left;}
.main .col-main .block-layered-nav.m-topmenu dl dt.m-popup-filter { background: none; }
.main .col-main .block-layered-nav.m-topmenu.m-wide dl {margin: 0;}
.main .col-main .block-layered-nav, .main .col-main .block-layered-nav .block-content {margin: 0}
.main .col-main .block-layered-nav .actions {float: right;padding: 0;margin: 0;position: static;font-size: 13px;margin-left: 10px;padding: 8px 0;
	i {font-size: 15px;padding-right: 5px;}
}


/*-----  End of product list  ------*/

/*==================================
=            breadcrumb            =
==================================*/
.breadcrumbs {
	overflow: hidden;padding: 15px 0;
	.contents {width: 98%;
		ul {
			li {float: left;font-size: 12px;text-transform: uppercase;
				strong {font-family: $regular;color: #111111}
				a {color: #A5A5A5;}
				span {font-size: 0;
					&:after {content: '\f105';font-family: $awe;font-size: 12px;color: #A5A5A5;padding:0 5px 0 2px;}
				}
				
			}
		}
	}
}

/*-----  End of breadcrumb  ------*/
.page-title {
	padding: 35px 0 50px;
	h1 {text-align: center;text-transform: uppercase;}
}

/*==========  mediaqueries  ==========*/
@media all and (max-width: 1960px) {
  .contents,header .contents {width: 97%; }
  .contents-small {width: 96%;}
  header .top-links-container .top-links {width: 100%;}
  #home-left-wrapper {width: 49.42%;}
  #home-right-wrapper {width: 48.42%;}
}
@media all and (max-width: 1900px){
	
}

@media all and (max-width: 1240px){
	#home-left-wrapper .left-fist-banner div.text h2 {font-size: 35px;}
}


@media all and (max-width: 1100px){
}

@media all and (max-width: 1000px){
	#home-left-wrapper .famous-friends div.left {width: 100%;
		img {max-width: 100%;width: 100%;}
	}
	#home-left-wrapper .famous-friends div.right {width: 100%;margin-top: 20px;}
	#home-right-wrapper #journal-wrapper .text h2 {font-size: 25px;}
	#home-right-wrapper .new-products .product-list-block li {width: 100%;margin: 0 0 20px;}
	#category-top {margin-top: 0;}
}

@media all and (max-width: 840px){
	#home-left-wrapper .famous-friends div.right h3 {font-size: 20px;}
	#home-right-wrapper #journal-wrapper .text h2 {font-size: 20px;}
	.home-logos {img {width: 97%;margin: 0 auto;}}
}


@media all and (max-width: 800px){
		footer .footer-bottom .links-wrapper .block h4 {text-align: center;}
	footer .footer-bottom .block ul li {text-align: center;font-size: 1.1em;}
	footer .footer-bottom .links-wrapper .block address {text-align: center;}
	footer .footer-bottom .links-wrapper .block address ~ p {text-align: center;}
	footer .footer-bottom .contact-info {text-align: center;}
	footer .footer-copyright {text-align: center;
		p{float: none !important;}
	}
}

@media all and (max-width: 670px){

	#home-left-wrapper .left-fist-banner div.text h2 , #home-left-wrapper h2 {font-size: 25px;}
	#home-right-wrapper #journal-wrapper .text h2 {text-align: left;}
	#home-right-wrapper #journal-wrapper .text {margin: 10px 0 0;padding: 0;text-align: left;}
	.indigo-story .banner-center-text div.text {top: 30%;}
}

@media all and (max-width: 640px){
	#home-left-wrapper {width: 100%;}

	#home-right-wrapper {width: 100%;}
}

@media all and (max-width:460px){
	footer .footer-top{
		height: auto;overflow: hidden;
		div.left {width: 100%;text-align: center;
			p {display: block;margin:0 0 10px;text-align: center;border-bottom: 1px solid #384652;width: 100%;padding-bottom: 10px;}
		}
		div.center {display: block;width: 100%;margin: 0;text-align: center;border-bottom: 1px solid #384652;padding-bottom: 10px;}
		div.right {display: block;width: 100%;margin-top: 10px;
			a {display: block;text-align: center;float: none;border-bottom: 1px solid #384652;padding-bottom: 10px;}
		}
	}

	footer .footer-top div.left .stay-update {width:100%;margin: 0 auto;float: none;overflow: hidden;margin-bottom: 10px;border-bottom: 1px solid #384652;padding-bottom: 10px;
		input {width: 100%;}
	}
	footer .footer-top div.left .stay-update .block-content .input-box {width:60%;}
	footer .footer-top div.right .social {width: 155px;margin: 10px auto 15px;padding: 0;float: none;
		a {border: none;}
	}

}
@media all and (max-width: 400px){
	#banner .slides-container li div.text h2 {font-size: 25px;}
	#middle-banner .bx-wrapper .bx-viewport .slider-wrapper li .text {top:25%;}
	#middle-banner .bx-wrapper .bx-viewport .slider-wrapper li .text h2 {font-size: 25px;}
}

@media all and (max-width: 370px){
	#banner .slides-container li div.text p {display: none;}
	#banner .slides-container li div.text h2 {margin-bottom: 10px;}
	.expand.right {display: none;}
}

@media all and (max-width: 320px){
	header .contents .middle-header #search_mini_form .form-search {width: 97%;}
	header .contents .middle-header #search_mini_form .form-search input {width: 60%;}
}

@media all and (max-width: 270px){
	header .contents .middle-header .logo {width: 97%;}
}
@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
    

}















