<?php
/*
*Created by juno
*/
?>
<div class="col2-set" style="padding-top: 60px;">
    <div class="box">
        <div class="box-content">
            <div class="col-1">
                <h3><?php echo $this->__('Billing Address') ?></h3>
                <address>
                    <?php echo $this->getPrimaryBillingAddressHtml() ?><br />
                    <a href="<?php echo $this->getPrimaryBillingAddressEditUrl() ?>"><?php echo $this->__('Edit') ?></a>
                </address>
            </div>
            <div class="col-2">
                <h3><?php echo $this->__('Delivery Address') ?></h3>
                <address>
                    <?php echo $this->getPrimaryShippingAddressHtml() ?><br />
                    <a href="<?php echo $this->getPrimaryShippingAddressEditUrl() ?>"><?php echo $this->__('Edit') ?></a>
                </address>
            </div>
        </div>
    </div>
</div>
